{% extends "../layouts/default.html" %}

{% block title %}
	Scalability with Ruby on Rails | jRuby
{% endblock %}

{% block meta_description %}
	Crafted a scalable telephone exchange along with SMS 800 integration.
{% endblock %}

{% block meta_keywords %}
	ruby on rails development, ror development, rails development, ruby development, SMS-800, Somos, Agile, Node.js, microservices, Kanban.
{% endblock %}

<!--{% block extra_css %}
	<link href="/css/case-studies.css" rel="stylesheet">
{% endblock %}-->

{% block content %}

<section class="exchange-case-studies-viewport-section" data-hide-menu-section>
	<div class="case-studies-viewport">
	</div>
</section>

<section class="container">
	<div class="bridj-center-box-wrap fankave-center-box-wrap exchange-center-box-wrap">
		<div class="project-info">
			<p class="f18">TollFree.Exchange</p>
			<span class="small-span-border"></span>
			<p class="title">Nation’s 9th SMS/800 integration</p>
		</div>
		<div class="share-img-wrap hidden">
			<a href="">{{ icon_share() }}</a>
			<p>Share</p>
		</div>
	</div>
	<div class="sms-image-section-wrap">
		<div class="f16 mt50 mb50 mr60">
			<p class="mb40 lh24">TollFree.Exchange is a telephone for toll free operators in the United States. The Toll-Free Exchange lets you set up bilateral paid peering from one registered SMS/800 Resp Org to another.</p>
			<p class="lh24">We were extremely excited to listen to the idea; based on the challenges it posed and bring idea to life. As one would imagine creating a telephone exchange would be a large software and with multiple components moreover, the system would be far away from naive architectures.</p>
		</div>
		<div class="f18 hidden-xs hidden-sm">
			<img src="//s3.amazonaws.com/website-2017/images/case_studies/logo_sms_800.png" alt="" title="">
		</div>
	</div>
</section>

<section class="container">
	<div class="we-took-up-section fankave-we-took-up-section exchange-section">
		<div class="case-bg-img hidden-xs hidden-sm"></div>
		<div class="row">
			<div class="col-md-7 col-lg-7 pull-right">
				<div class="fankave-approach-overlapping-section">
					<h5>With the implementation we had to keep a few goals in mind:</h5>
					<ul>
						<li><span>1</span>Getting domain knowledge telecom world</li>
						<li><span>2</span>To keep the architecture simple and decoupled</li>
						<li><span>3</span>Scale the needed services in the exchange</li>
						<li><span>4</span>External integration with a legacy system</li>
					</ul>
				</div>
			</div>	
		</div>
		<div class="col-md-9 f16 mt50 exchange-content">
			<p class="lh24">Since this was a technology centric project we came up with innovative ways on the delivery side. We ditched the Agile software development practices and constituted a highly technical team on the project where the software architect played multiple roles in business analysis and project management.</p>
			<p class="lh24">As the team understood the nitty gritties in the telecom space and started development, a few members stayed keenly focused on building the right Service Oriented Architecture(SOA) in order to be highly scalable and highly available. The technology stack was polyglot.</p>
			<p class="lh24">The routing and the switching mechanism needed to be highly available and it had an external dependency on a legacy system from a company called Somoss’ - SMS/800. The challenge is that the data needs to be dealt at the TCP level which comes in as a stream of encrypted binary data mixed with text data.</p>
			<p class="lh24">Although some parts of the exchange needed to be highly scalable we didn't start thinking scaling from day one. We easily added scalability with JRuby  and the actor pattern when we started load testing the application. The modularity of the services helped us refactor with ease to scale only what was required.</p>
			<p class="lh24">We successfully delivered the exchange and its customers are some of the biggest names in the industry like: Incontact, Ringcentral. Even Google ended making itself a Operator(Resporg).</p>
		</div>
	</div>
</section>

{{ next_up_component(paths.stories_path, 'Stories', 'mt30') }}

{% include "../includes/contact_form.html" %}

{% endblock %}
