{%
    set tomorrow_time = ['9:00 AM - 10:00 AM', '3:30 PM - 4:30 PM', '8:00 PM - 9:00 PM']
%}
{%
    set day_availablity = [{
        day: 'Monday (26/05)',
        timings: ['9:00 AM - 10:00 AM', '3:30 PM - 4:30 PM', '8:00 PM - 9:00 PM', '8:00 PM - 9:00 PM', '8:00 PM - 9:00 PM']
    }, {
        day: 'Tuesday (27/05)',
        timings: ['9:00 AM - 10:00 AM', '3:30 PM - 4:30 PM', '8:00 PM - 9:00 PM']
    }, {
        day: 'Wednesday (28/05)',
        timings: ['9:00 AM - 10:00 AM', '3:30 PM - 4:30 PM', '8:00 PM - 9:00 PM']
    }, {
        day: 'Tuesday (29/05)',
        timings: ['9:00 AM - 10:00 AM', '3:30 PM - 4:30 PM', '8:00 PM - 9:00 PM']
    }]
%}
<section class="contact-section form-section goto-contact-section" id="start-project">
  <div class="container">
    <div class="header-wrap contact">
      <h2>Start a Project</h2>
      <h4>Let's begin your story</h4>
    </div>
    <!-- <div class="header-subtitle">
        <h4>Looking for</h4>
        <p><a href="/careers">Careers?</a></p>
    </div> -->
    <div class="input-form">
        <!-- id="contact_from" -->
      <form action="https://go.pardot.com/l/307691/2017-05-08/3mmd" class="form-inline" method="post">
        <div class="flex-box flex-wrap">
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control input-field" required name="Name" id="Name" autocomplete="off" />
            </div>

            <div class="form-group">
               <label for="email">Email *</label>
              <input type="text" class="form-control input-field" required name="email" id="email" autocomplete="off" />
            </div>

            <div class="form-group">
              <label for="phone_number">Phone *</label>
              <input type="text" class="form-control input-field" required name="Phone" id="Phone" autocomplete="off" />
            </div>

            <div class="form-group">
              <label for="location">Location *</label>
              <input type="text" class="form-control input-field" required name="Location" id="Location" autocomplete="off" />
            </div>
        </div>


        <p class="f16 text-uppercase labels-title mt20">I Want <span>(Tell us more about your dream project)</span></p>

        <div>
          {% for name, items in contact_us_tags %}
            <div class="checkbox-row mb20">
              {% for item in items %}
                <div class="checkbox-sections">
                  <input type="checkbox" class="hidden" id="{{ item.name }}" name="tags[{{name}}][]" value="{{ item.value }}" autocomplete="off" />
                  <label class="noselect" for="{{ item.name }}">{{ item.value | safe }}</label>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div class="form-group">
            <div class="form-bg flex-box flex-column">
                <label for="tellusmore">Want to tell us more?</label>
                <textarea type="text" class="form-control text-field" name="Tell Us More" id="Tell Us More" autocomplete="off"></textarea>
            </div>
        </div>

        <div class="mb30">
          <div class="g-recaptcha" data-sitekey="6LfYSgoUAAAAAKfvKTz08yroP9L7tVqEQVJIqqr0"></div>
        </div>

        <button type="submit" class="btn primary-button done-button text-uppercase">Contact Me</button>
      </form>
      {# TODO ENABLE THIS IN PHASE 2
      <form id="call_detail" class="form-inline hidden" method="post" enctype="multipart/form-data">
        <p class="f16 text-uppercase labels-title mt20">What time should i call you tomorrow?</p>
        <fieldset class="choose_tomorrow_time">
          <div class="checkbox-row mb25">
            {% for time in tomorrow_time %}
              <div class="checkbox-sections">
                <input type="radio" class="hidden" id="tomorrow_time_{{ loop.index0 }}" name="tomorrow_time" value="{{ time }}" autocomplete="off" />
                <label class="noselect" for="tomorrow_time_{{ loop.index0 }}">{{ time }}</label>
              </div>
            {% endfor %}
            {% if day_availablity.length %}
              <div class="checkbox-sections choose_another_time select-time">
                <input type="button" class="hidden">
                <label class="noselect">Choose another time</label>
              </div>
            {% endif %}
          </div>
        </fieldset>

        {% if day_availablity.length %}
          <fieldset id="choose_another_time_field_set" class="hidden" disabled>
            <p class="f16 text-uppercase labels-title mt20">I am available on</p>
            <div>
              <div class="checkbox-row mb25 date_section">
                {% for day in day_availablity %}
                  <div class="checkbox-sections">
                    <input type="radio" class="hidden" id="day_time_{{ loop.index0 }}" name="days" value="" autocomplete="off"/>
                    <label class="noselect" for="day_time_{{ loop.index0 }}">{{ day.day }}</label>
                  </div>
                {% endfor %}
              </div>
              <div class="checkbox-row mb25">
                {% for day in day_availablity %}
                  <fieldset id="user_day_{{ loop.index0 }}" class="hidden" disabled>
                    {% for time in day.timings %}
                      <div class="checkbox-sections">
                        <input type="radio" class="hidden" name="time[{{day.day}}][]" id="time[{{day.day}}]{{ loop.index0 }}" value="" autocomplete="off"/>
                        <label class="noselect" for="time[{{day.day}}]{{ loop.index0 }}">{{ time }}</label>
                      </div>
                    {% endfor %}
                  </fieldset>
                {% endfor %}
              </div>
            </div>
          </fieldset>
        {% endif %}

        <div class="checkbox-row">
          <div class="checkbox-sections choose-file-section">
            <input type="file" name="" id="choose-file" autocomplete="off">
            <label for="choose-file">
              <span class="browse-title">Upload NDA</span>
              <span class="browse-btn pull-right">Browse</span>
            </label>
            <p class="browse-caption">( Be worry free about the protection of your idea from day 1 )</p>
          </div>
        </div>

        <button type="submit" class="btn primary-button done-button text-uppercase">All Set!</button>
      </form>
      #}
    </div>
  </div>
</section>
