{% extends "./layouts/default.html" %}

{% block title %}
	Ruby on Rails, iOS, Android & Node.js Jobs | Mumbai, Pune
{% endblock %}

{% block meta_description %}
	At Idyllic Software we are looking for passionate developers for many ruby on rails, node.js, iOS, Android, java & .NET job opportunities to join our team of experts.
{% endblock %}

{% block meta_keywords %}
	Ruby on Rails Jobs, .NET jobs, Java Jobs, iOS Jobs, Node.js jobs, User Experience Jobs and more.
{% endblock %}

<!--{% block extra_css %}
    <link href="/css/careers.css" rel="stylesheet" />
{% endblock %}-->

{% block content %}

<section class="careers-us-viewport-section" data-hide-menu-section>
	<div class="circle-wrap">
		<div class="outer_circle">
			<div class="inner_circle"></div>
		</div>
	</div>
	<div class="careers-us-viewport">
		<h1>We don't care where you're coming from.</br><span>We are interested in where you want to go.</span></h1>
		<div class="scroll-button-section">
	    <div class="scrollToPositions scroll_to" data-where-to-scroll=".opening-section">
	    	<div class="bounce">{{ icon_down_outside_arrow() }}</div>
	    	<div class="f16 f-brush">See Open Positions</div>
	    </div>
	  </div>
	</div>
</section>

<section class="perks-section">
    <div class="container">
    	<div class="center-box-wrap">
			<p>
				Are you smart, driven and exceptional at what you do? If the answer is yes, then we want you.
			</p>
			<p>
				At Idyllic, we encourage creativity. We don’t believe in rules. We believe in people standing up for what they believe in. Right and wrong is subjective. All that matters is being tolerant to a different point of view.
			</p>
    	</div>
    </div>
</section>

<section class="work-at-idyllic-wrap">
	<div class="header-wrap mb20">
		<h2>Work at idyllic</h2>
		<h4>your life won't be the same again</h4>
	</div>
	<div class="work_at_idyllic_section our-section">
		<div class="container">
			<div class="our-section-wrap">
			  <div class="slides custom_slick" data-slick='{"fade": true}'>
				  {% for item in work_at_idyllic %}
					<div class="slides-items" data-url="{{ item.img_url }}">
					  <h2 class="number">{{ item.header | safe }}</h2>
					  <p>{{ item.sub_header | safe }}</p>
					</div>
				  {% endfor %}
			  </div>
			</div>
		</div>
	</div>
</section>


<section class="management_team_people_section">
	<div class="container">
		<div class="center-box-wrap">
			<h2 class="f-brush text-center">Folks who take care of you :)</h2>
			<div class="management-img">
				{% for people in management_team %}
					<div class="img-section">
						<img src="{{ people.img_url }}"/>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="name_section_wrap">
		<div class="name_section">
			{% for people in management_team %}
				<div class="team-name-item">
					<h3>{{ people.name }}</h3>
					<span class="divide"></span>
					<h2 class="f-brush">{{ people.title | safe }}</h2>
				</div>
			{% endfor %}
		</div>
	</div>
</section>


<section class="our-thoughts-section our-section">
	<div class="container">
		<p class="thoughts-heading mt40 mb90">Stay humble, stay grounded</p>
		<div class="center-box-wrap">
			<p>
				Here’s the tree in the center of our workspace. The tree is a constant reminder to always stay grounded and to not get carried away by whatever happens around us. Our humility has carried us this far and we hope it stays with us for the years to come.
			</p>
    </div>
	</div>
</section>

<section class="opening-section">
	<div class="opening-header">
		<div class="header-wrap mb20">
	    	<h2>Openings</h2>
	    	<h4>Lets rock... together</h4>
		</div>
		<P class="f20 mb30">As a member of our team, you’re sure to be thrilled with the amount of freedom you have, and the opportunities you’re presented with. All you have to do is grab every such opportunity that comes your way and express your opinions openly because we certainly want to hear them.</P>
	</div>

	<div class="opening-field">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			{% if careers.design.length %}
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
						<div class="roles">
							<h4>Design <span>( {{ careers.design.length }} Open Positions )</span>
								<a class="pull-right collapsed" data-toggle="collapse" data-parent="#accordion" href="#design" aria-expanded="true" aria-controls="design"><span class="accordion_arrow"></span></a>
							</h4>
						</div>
					</div>

					<div id="design" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  					<div class="panel-body">
							<div class="hidden-roles">
								{% for career in careers.design %}
								<a href="/careers/{{ career.path }}">
									<span>{{ career.title }}</span>
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if careers.development.length %}
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
						<div class="roles">
							<h4>Development <span>( {{ careers.development.length }} Open Positions )</span>
								<a class="pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#development" aria-expanded="false" aria-controls="development"><span class="accordion_arrow"></span></a>
							</h4>
						</div>
					</div>
					<div id="development" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	  				<div class="panel-body">
							<div class="hidden-roles">
								{% for career in careers.development %}
									<a href="/careers/{{ career.path }}">
										<span>{{ career.title }}</span>
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if careers.business.length %}
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
						<div class="roles">
							<h4>Business <span>( {{ careers.business.length }} Open Positions )</span>
								<a class="pull-right collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#business" aria-expanded="false" aria-controls="business"><span class="accordion_arrow"></span></a>
							</h4>
						</div>
					</div>
					<div id="business" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	  				<div class="panel-body">
							<div class="hidden-roles">
								{% for career in careers.business %}
								<a href="/careers/{{ career.path }}">
									<span>{{ career.title }}</span>
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

</section>

{{ next_up_component(paths.creates_path, 'Creates') }}

{% include "includes/contact_form.html" %}

{% endblock %}
