{% extends "./layouts/default.html" %}

{% block title %}
   Ruby On Rails Consulting | Idyllic
{% endblock %}

{% block meta_description %}
  Idyllic is a Ruby on Rails development studio. We provide offshore ruby on rails development, outsourcing, web development and UX design.
{% endblock %}

{% block meta_keywords %}
  ruby on rails development, ruby on rails outsourcing, ruby on rails developer, offshore ruby on rails development, idyllic, agile, ruby on rails consultant.
{% endblock %}

<!--{% block extra_css %}
<link href="/css/home.css" rel="stylesheet">
{% endblock %}-->

{% block content %}

<!-- Loader section -->
<!-- <section class="loader-viewport-section">
  <div class="loader-overlay"></div>
  <div class="loader-viewport">
    <h1>100%</h1>
    <span>Idyllic Studio Loading Soon...</span>
  </div>
</section> -->

<section class="landing-wrap">
  <div class="main-page-top-section">
    <div class="main-page-top">
      <div class="main-page-top-wrap clearfix">
        <div class="pull-left hidden-xs">
          <a href="https://twitter.com/idyllicsoftware" target="blank">{{ icon_twitter() }}</a>
        </div>
        <div class="pull-right hidden-xs">
          <a href="http://www.linkedin.com/company/idyllic-software" target="blank">{{ icon_linkedin() }}</a>
        </div>
      </div>
      <div class="main-page-mid-section-wrap">
        <div class="design">
          <p>Design</p>
          <p>+</p>
          <p>Strategy</p>
        </div>
        <div class="mid-bg-section">
          <p>Idyllic</p>
          <p>Studio</p>
          <p>Creates</p>
          <p>Stories</p>
        </div>
        <div class="web">
          <p>Web</p>
          <p>+</p>
          <p>Mobile</p>
        </div>
      </div>
      <div class="landing-we-are-section">
        <div class="landing-title">
            <h3>
                We are<br><span></span>a full-stack<br><span></span>design &amp; dev studio
            </h3>
        </div>
        <div class="landing-subtitle">
            <p>
                Ruby on Rails | NodeJS<br><span></span>| iOS | Android |<br><span></span>User Experience Design
            </p>
        </div>
      </div>
      <div class="main-page-top-wrap scroll-button-wrap clearfix">
        <div class="phone-icon hidden-xs" style="visibility: hidden;">
          <a href="tel:1.720.515.0394"><img data-src="../images/home/icon_call.png" alt="Phone Receiver Icon" class="lazyload">1.720.515.0394</a>
        </div>
        <div class="scroll-button-section">
            <a href="javascript:void(0);" class="curP" id="give_me_more">
                <div class="bounce">{{ icon_scroll() }}</div>
                <div class="f16 f-brush">Scroll Down</div>
            </a>
        </div>
        <div class="mail-icon hidden-xs">
          <a href="mailto:hello@idyllic.co">hello@idyllic.co</a>
        </div>
      </div>
    </div>
  </div>
  <div class="phontom-div"></div>

  <div class="main-viewport-section" data-hide-menu-section>
    <div class="overlay"></div>
    <div id="bg-video-container" class="hidden-xs hidden-sm">
      <video id="bg-video" loop poster="../images/home/banner.jpg" muted class="hidden-xs hidden-sm">
        <source src="//s3.amazonaws.com/website-2017/video/idyllic_website_720p.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>

<section class="we-specialize-section" >
  <div class="container">
    <div class="center-box-wrap">
      <p class="f20">
        We create compelling stories. Stories that people engage in. We are an integrated design and development studio equipped to take your business to the next level.
      </p>
      <div class="our-count-section mt30 mb30">
        <div class="count-circle-wrapper">
          <div class="overlay-circle">
            <div class="overlay">
              <span class="overlay-count">46</span>
            </div>
            <img data-src="../images/home/people.png" alt="Group Discussion" class="lazyload"/>
          </div>
          <div class="f30 f-brush overlay-text">geeks</div>
        </div>
        <div class="count-circle-wrapper">
          <div class="overlay-circle">
            <div class="overlay">
              <span class="overlay-count">5</span>
            </div>
            <img data-src="../images/home/locations.png" alt="Place on Map" class="lazyload"/>
          </div>
          <div class="f30 f-brush overlay-text">locations</div>
        </div>
        <div class="count-circle-wrapper">
          <div class="overlay-circle">
            <div class="overlay">
              <span class="overlay-count">50+</span>
            </div>
            <img data-src="../images/home/projects.png" alt="Working on laptop" class="lazyload"/>
          </div>
          <div class="f30 f-brush overlay-text">projects</div>
        </div>
      </div>
      <div class="strike">
        <span class="text-uppercase">We have delivered for</span>
      </div>
      <div class="res-slider">
          <div class="left-arrow arrow">
              <img data-src="//s3.amazonaws.com/website-2017/images/svg/button_next_left.svg" alt="left arrow icon" class="lazyload">
          </div>
          <div class="right-arrow arrow">
              <img data-src="//s3.amazonaws.com/website-2017/images/svg/button_next_right.svg" alt="right arrow icon" class="lazyload">
          </div>
          <div class="clearfix clients-images res-slides mt30 mb50">
            <span>
                <img data-src="//s3.amazonaws.com/website-2017/images/clients/logo/founder-institute.png" alt="Founder Institute" title="Founder Institute" class="lazyload">
            </span>
            <span>
              <img data-src="//s3.amazonaws.com/website-2017/images/clients/logo/sears.png" alt="Sears" class="lazyload" title="Sears">
            </span>
            <span class="projects-bridj-logo">
              <img data-src="//s3.amazonaws.com/website-2017/images/clients/logo/bridj.png" alt="BRIDJ" class="lazyload" title="BRIDJ">
            </span>
            <span>
              <img data-src="//s3.amazonaws.com/website-2017/images/clients/logo/peapod.png" alt="Peapod" class="lazyload" title="Peapod">
            </span>
            <span class="f16 more-projects">& many more</span>
          </div>
      </div>

      <div class="strike">
        <span class="text-uppercase">What our clients say</span>
      </div>
      <div class="clients-slider">
          <div class="left-arrow arrow">
              <img data-src="//s3.amazonaws.com/website-2017/images/svg/button_next_left.svg" alt="Left Arrow Icon" class="lazyload">
          </div>
          <div class="right-arrow arrow">
              <img data-src="//s3.amazonaws.com/website-2017/images/svg/button_next_right.svg" alt="Right Arrow Icon" class="lazyload">
          </div>
          <div class="reviews_section clients-slides flex-box align-items-center justify-content-space-around">
            <a target="_blank" href="https://www.goodfirms.co/companies/view/627/idyllic-software" class="mt30 mb10">
              <img data-src="https://www.goodfirms.co/img/badges/media/black/circle/small/top-mobile-app-developers.png" alt="goodfirms" class="lazyload" title="goodfirms"/>
            </a>
            <a href="https://clutch.co/profile/idyllic" target="blank" class="mt30 mb10">
              <img data-src="../images/home/badge_clutch.png" alt="Clutch" class="lazyload" title="Clutch"/>
            </a>
            <a target="_blank" href="http://www.railsdevelopment.com/developers/search?budget=50000&location=&commit=Find+a+developer" class="mt30 mb10">
              <img data-src="../images/home/badge_top_ruby_firm.png" alt="Ruby Firm" class="lazyload" title="rubyfirms"/>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do-circle-wrap mb30">
  <div class="container">
    <div class="header-wrap mb30">
      <h1>What We Do</h1>
      <h4>We specialize in all things tech</h4>
    </div>
    <div class="what-we-do-wrap">
      <div class="img-overlay-wrap mr50">
        <a href="{{ paths.user_experience_path }}">
        <div class="img-overlay">
          <div class="overlay-count">01</div>
        </div>
        <img data-src="../images/home/user-experience.png" alt="UX Design" class="lazyload" title="UX Design"/>
        </a>
      </div>
      <div>
        <h4 class="text-uppercase"><a href="{{ paths.user_experience_path }}">User Experience Design</a></h4>
        <p class="f18"><a href="{{ paths.user_experience_path }}">We don’t just design to make it look good.  We design with a purpose of helping the end-users.</a></p>
        <a href="{{ paths.user_experience_path }}"><div class="icon-right-wrap">{{ icon_right_arrow() }}</div></a>
      </div>
    </div>
    <div class="what-we-do-wrap second">
      <div class="img-overlay-wrap mr50">
        <a href="{{ paths.web_dev_path }}">
        <div class="img-overlay">
          <div class="overlay-count">02</div>
        </div>
        <img data-src="../images/home/web-development.png" alt="Web Development" class="lazyload" title="Web Development"/>
      </a>
      </div>
      <div>
        <h4 class="text-uppercase"><a href="{{ paths.web_dev_path }}">Web Development</a></h4>
        <p class="f18"><a href="{{ paths.web_dev_path }}">We craft scalable and robust applications using Ruby, Javascript, and Node.js.</a></p>
        <a href="{{ paths.web_dev_path }}"><div class="icon-right-wrap">{{ icon_right_arrow() }}</div></a>
      </div>
    </div>
    <div class="what-we-do-wrap third">
      <div class="img-overlay-wrap mr50">
        <a href="{{ paths.mobile_dev_path }}">
        <div class="img-overlay">
          <div class="overlay-count">03</div>
        </div>
        <img data-src="../images/home/mobile-development.png" alt="Mobile Development" class="lazyload" title="Mobile Development"/>
      </a>
      </div>
      <div>
        <h4 class="text-uppercase"><a href="{{ paths.mobile_dev_path }}">Mobile Development</a></h4>
        <p class="f18"><a href="{{ paths.mobile_dev_path }}">We build and launch native iOS and Android application in the app stores.</a></p>
        <a href="{{ paths.mobile_dev_path }}"><div class="icon-right-wrap">{{ icon_right_arrow() }}</div></a>
      </div>
    </div>
  </div>
</section>

<section class="project-section" >
  <div class="project-section-panel">
    <div class="header-wrap">
      <h2>FEATURED SUCCESS STORIES</h2>
      <h4>success stories of technology execution<br/>&amp; design brilliance</h4>
    </div>

    <div class="project-section-container Slider">
        <div class="slides clearfix">
            <div class="project-section-wrap project-1 brig_bg lazyload Slide-1">
              <div class="col-sm-12 opaque-bg flex-container flex-box justify-content-center align-items-center">
                <div class="project-section-content bgw">
                    <div class="fankave-logo-wrap">
                        <div class="flex-box flex-container-2 align-items-center">
                            <div class="mr20">
                                <i class="sprt bridj-icon-red img-responsive"></i>
                            </div>
                            <p class="title">
                                Equipped a Boston-based start-up evaluate at 60M in just 14 weeks
                            </p>
                        </div>
                        <p class="description">
                            Designed, developed and launched an Uber-like, on-demand bus service in Boston city. Built Driver and Customer mobile apps supported by Ruby on Rails API's.
                        </p>
                        <div class="read-more">
                          <a href="{{ paths.bridj_case_studies_path }}">
                              <span class="read-more-label f14">See Case Study</span></a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="bbg hidden-sm hidden-xs">
                  <img data-src="../images/home/iphone_bridj.png" alt="BRIDJ App" class="lazyload" title="BRIDJ Success Story">
              </div>

            </div>
            <div class="project-section-wrap project-2 fankave_bg lazyload Slide-2">
              <div class="col-sm-12 opaque-bg flex-box justify-content-center align-items-center">
                <div class="project-section-content design-rush bgw">
                    <div class="flex-box flex-container-3 align-items-center">
                        <div class="mr20">
                            <img data-src="../images/home/logo_fankave.png" alt="Fankave logo image" class="lazyload">
                        </div>
                        <p class="title">
                            Designing a Rush-hour App Experience for NBA Fans
                        </p>
                    </div>
                    <p class="description">
                        Idyllic designed a food-ordering experience for NBA fans while they watch a live basketball game at a packed sports arena in the US.
                    </p>
                    <div class="read-more">
                      <a href="{{ paths.fankave_case_studies_path }}">
                          <span class="read-more-label f14">See Case Study</span></a>
                    </div>
                </div>
              </div>
              <div class="fbg hidden-sm hidden-xs ">
                  <img data-src="../images/home/iphone_fankave.png" alt="fankave" title="Fankave" class="lazyload">
              </div>
            </div>
        </div>
    </div>

    <div class="slider-container flex-box">
        <div class="slider slider-1 flex-box flex-column mr20 active">
            <p>01</p>
            <p>Bridj</p>
            <span class="span-border hidden-xsslider "></span>
        </div>
        <div class="slider slider-2 flex-box flex-column">
            <p>02</p>
            <p>FanKave</p>
            <span class="span-border hidden-xsslider "></span>
        </div>
    </div>
  </div>
</section>


<section class="why-work-with-us-section">
  <div class="circle-section hidden-xs hidden-sm">
    <div class="right-circle"></div>
    <div class="left-circle"></div>
  </div>
  <div class="container">
    <div class="center-box-wrap">
      <div class="strike">
        <span class="text-uppercase">Why work with us</span>
      </div>
      <p class="sub-info-text">You have a million options when it<br/> comes to outsourcing. So why choose us?</p>
      <p>
        We earn money the old-fashioned way, by working towards building a relationship with you. Our team is sharp. Our attitude is what enables us to deliver miracles for our customers though. We respect your constraints and work around them to help you grow your business. We won't back out when times are rough nor will  we shy away from taking up an impossible task to get you to the next level.
      </p>
      <div class="video_wrap">
          <span class="video-heading">How to choose the right software Vendor?</span>
          <div class="video-play-wrap">
            <img data-src="../images/home/video_thumbnail.png" alt="Video" class="lazyload"/>
            <div class="play-btn-wrap">
              <span class="dIB curP mb0 btn_watch_video" data-modal_id="#video_modal_content" data-video-for="Why work with us video" title="Watch video" data-video_type="vimeo_album">
                {{ icon_play() }}
              </span>
              <p class="rel top-10 video-title">Watch Now</p>
            </div>
          </div>
          <div class="get-copy-section mt20">
            <p class="f15 mb20">Or share your email id &amp; we will send you the 8 video series to watch later</p>
            <div class="email-form-wrap">
              <form class="video_email_form form-inline" method="post">
                <input type="text" class="form-control" placeholder="email" name="email" required autocomplete="off">
                <span><button type="submit" class="btn confirm-btn primary-button f15">CONFIRM</button></span>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>


<section class="We-learn-section">
    <!-- Slider -->
    <div class="we-learn-slider">
        <div class="we-learn-slides">
            <!-- Gaurav Slides -->
            <div class="gaurav-section lazyload slide-1">
                <div class="container">
                    <div class="overlay">
                        <h2>We Learn, We Share</h2>
                    </div>
                    <div class="invite-us-section flex-box justify-content-center">
                            <div class="img-container">
                                <img data-src="../images/home/gaurav.png" alt="Gaurav" class="lazyload">
                            </div>
                            <div class="content">
                                <h3>Gaurav @ Muconf, London</h3>
                                <p>Gaurav speaking on Micro Services at Muconf, London.</p>
                                <div class="invite-us-link">
                                    <a href="mailto:jparekh@idyllic.co?subject=Invitation%20to%20speak">
                                        <span class="f14">Invite us to speak</span></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- Shivam Slides -->
            <div class="shivam-section lazyload slide-2">
                <div class="container">
                    <div class="overlay">
                        <h2>We Learn, We Share</h2>
                    </div>
                    <div class="hcl-section flex-box justify-content-center">
                        <div class="shivam-img-container">
                            <img data-src="../images/home/shivam.png" alt="shivam image" class="lazyload">
                        </div>
                        <div class="shivam-content">
                            <h3>Shivam @ HCI, India</h3>
                            <p>IHCI is the leading conference on Human Computer Interaction. Shivam, Director of Design, was the speaker at HCI '16 Cafe track. He presented a case study on how the team blended human factors &amp; design thinking to craft a mobile app experience for NBA fans.</p>
                            <div class="invite-us-link">
                                <a href="mailto:jparekh@idyllic.co?subject=Invitation%20to%20speak">
                                    <span class="f14">Invite us to speak</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="slider-container flex-box">
            <div class="slider slider-1 flex-box flex-column mr20 active">
                <p>01</p>
                <span class="span-border hidden-xsslider "></span>
            </div>
            <div class="slider slider-2 flex-box flex-column ">
                <p>02</p>
                <span class="span-border hidden-xsslider "></span>
            </div>
        </div>
</section>

<section class="folk-love-us-section mt150">
    <a href="#" id="clients-review"></a>
    <div class="container">
        <div class="strike">
          <span class="text-uppercase">People recommend us big time</span>
        </div>
        <div class="heading mt60 mb20">
            <div class="f22 brand-color">Adeo Ressi</div>
            <div class="f12 designation-wrap text-uppercase">CEO, Founders Institute</div>
        </div>
        <div class="img">
            <img data-src="../images/home/photo_adeo_ressi.png" alt="Adeo Ressi picture" class="lazyload">
            <div class="quotes lazyload"></div>
        </div>
        <div class="play">
            <span class="dIB curP m30 mb0 btn_watch_video" data-modal_id="#testimonial_modal_content"  data-video-for="Adeo Video" title="play Adeo’s message" data-video="fybDPLQGd88" data-video_type="youtube">
              {{ icon_play() }}
            </span>
            <p class="f-brush rel f20">play Adeo’s message</p>
        </div>
    </div>
</section>

{{ next_up_component( paths.creates_path, 'Creates', '') }}

{% include "includes/contact_form.html" %}

<div class="modal_content" id="video_modal_content">
  <div class="modal_head text-right">
    <a href="#" title="close" class="close-modal">x</a>
  </div>
  <div class="iframe_container"></div>
  <!--<h3 class="vimeo_title"></h3>-->
  <!--<p class="vimeo_description"></p>-->
  <div class="thumbnail-wrap slides custom_slick mt15" data-slick='{"autoplay": false, "variableWidth": true}'>
    {% for item in vimeo_video %}
      <div class="thumbnail-section" data-video-id="{{ item.vimeo_id }}" data-vimeo_title="{{ item.title }}" data-vimeo_description="{{ item.description }}" data-index="{{ loop.index0 }}">
        <p>#{{loop.index | two_digit}}</p>
        <p class="video-title">{{ item.title }}</p>
      </div>
    {% endfor %}
  </div>
</div>
<div id="testimonial_modal_content" class="modal_content">
  <div class="modal_head text-right">
    <a href="#" title="close" class="close-modal">x</a>
  </div>
  <div class="iframe_container"></div>
</div>
<div class="modal_overlay"></div>

{% endblock %}
