{% extends "./layouts/default.html" %}

{% block title %}
	Ruby on Rails, iOS, Android, Node,js consulting | Boulder, Boston, Chicago
{% endblock %}

{% block meta_description %}
	Idyllic Software is a niche Ruby on Rails, Node.js, iOS and Android consulting boutique employing Scrum and Kanban methodology.
{% endblock %}

{% block meta_keywords %}
	ruby on rails development, ror development, rails development, ruby development, iOS, Android, Agile, Node.js, microservices, Kanban.
{% endblock %}

<!--{% block extra_css %}
    <link href="/css/stories.css" rel="stylesheet" />
{% endblock %}-->

{% block content %}

<section class="stories-viewport-section" data-hide-menu-section></section>
<section class="stories-header-section mb30">
	<div class="stories-text">
		<div class="stories-header">
			<marquee behavior="scroll" direction="left" scrollamount="15">
				<img src="//s3.amazonaws.com/website-2017/images/stories/design.png" alt="Design" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/plus.png" alt="+" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/web.png" alt="Web" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/plus.png" alt="+" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/mobile.png" alt="Mobile" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/plus.png" alt="+" />
				<img src="//s3.amazonaws.com/website-2017/images/stories/strategy.png" alt="Strategy" />
			</marquee>
		</div>
		<h5 class="sub-info-text">A bucket of our design & dev saga</h5>
	</div>
	<div class="stories-header-section-wrap">
		<ul class="nav nav-tabs submenus" role="tablist">
			<li role="presentation" class="active"><a href="#desgin" role="tab" data-toggle="tab"><span>UX Design</span></a></li>
			<li role="presentation"><a href="#web_dev" role="tab" data-toggle="tab"><span>Web Dev</span></a></li>
			<li role="presentation"><a href="#mobile_dev" role="tab" data-toggle="tab"><span>Mobile Dev</span></a></li>
		</ul>
	</div>
</section>

<section class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="desgin">
		<div class="blog-section">
			{{ stories_component(design_dev_stories) }}
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="web_dev">
		<div class="blog-section">
			{{ stories_component(web_dev_stories) }}
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="mobile_dev">
		<div class="blog-section">
			{{ stories_component(mobile_dev_stories) }}
		</div>
	</div>
</section>


{{ next_up_component(paths.home_path, 'home') }}

{% include "includes/contact_form.html" %}

{% endblock %}
