{% extends "../layouts/default.html" %}

{% block title %}
    Ruby on Rails Development and Consulting
{% endblock %}

{% block meta_description %}
    Ruby on Rails is what we do really well. We've built from MVP's to the most scalable applications using Ruby on Rails.
{% endblock %}

{% block meta_keywords %}
    Ruby on Rails, ror, Ruby Development, Rails framework.
{% endblock %}

<!--{% block extra_css %}
    <link href="/css/tech.css" rel="stylesheet" />
{% endblock %}-->

{% block content %}
    <section class="rails-viewport-section" data-hide-menu-section>
        <div class="circle-wrap">
            <div class="outer_circle">
                <div class="inner_circle"></div>
            </div>
        </div>
        <div class="rails-viewport">
            <h1>Ruby is our mother tongue!<br/>We know Ruby on Rails that well.</h1>
            <span class="divider"></span>
            <p>
                We started as a small Ruby on Rails team six years ago and have delivered more than 50 projects. We love it because it allows us to deliver scalable and robust applications for our customers really fast.
            </p>
        </div>
    </section>

    <section class="folk-love-us-section mb50">
        <div class="container">
            <div class="center-box-wrap">
                <div class="strike">
                    <span class="text-uppercase">These Folks Love Us <span class="rel" style="top:-1px;">:</span>)</span>
                </div>
                <span class="studio-circle m30">
            <img src="//s3.amazonaws.com/website-2017/images/clients/image_placeholder.png" class="profile-img-circle-inner"/>
          </span>
                <p class="pb20">
                    We worked with Idyllic Software for several months to help provide a much needed push in order to get to beta testing in a reasonable amount of time. They didn't disappoint. These guys are wicked smart as they worked diligently with a high degree of professionalism.
                </p>
                <p class="pb20">
                    They are excellent problem solvers and made themselves available for regularly scheduled meetings, working sessions and consultation. It was really a pleasure to work with these gentlemen.
                </p>
                <div class="f14 brand-color">Kevin T. Kirkendoll</div>
                <div class="f12 designation-wrap">CTO, SELPTON.FM</div>
            </div>
        </div>
    </section>

    <section class="how_we_work_section">
        <div class="container">
            <div class="header-wrap">
                <h1>How We Work!</h1>
                <h4>This is how we do it!</h4>
            </div>
            <ul class="mt40">
                {%
                    set how_we_work = [
                        'Ample focus on application architecture',
                        'Write code for humans',
                        'Fearlessly refactor',
                        'Communicate often and as is',
                        'Demonstrate working software every day',
                        'Take responsibility'
                    ]
                %}
                {% for item in how_we_work %}
                    <li class="col-md-6">
                        <span class="red-circle"></span>
                        <span class="number">{{ loop.index | two_digit }}</span>
                        <span class="text-span">{{ item }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="how_we_work_with_them_section">
        <div class="tab-headers">
            <h1 class="f-brush">How we worked with them?</h1>
            <div class="tab-wrapper">
              <ul class="nav nav-tabs submenus" role="tablist">
                <li role="presentation" class="active"><a href="#as_cto" role="tab" data-toggle="tab"><span>As CTO</span></a></li>
                <li role="presentation"><a href="#as_team_extension" role="tab" data-toggle="tab"><span>As Team Extension</span></a></li>
                <li role="presentation"><a href="#to_build_mvp" role="tab" data-toggle="tab"><span>To build an MVP</span></a></li>
              </ul>
            </div>
        </div>
        <div class="tab-body">
            <div class="container">
                <div class="center-box-wrap tab-content">
                    <div role="tabpanel" class="tab-pane active" id="as_cto">
                        <img src="//s3.amazonaws.com/website-2017/images/clients/logo/vertical_fox.png" class="vertical_fox_logo"/>
                        <p>
                            Vertical fox uses us as their CTO. Along with their vision and our technical chops, we have developed a huge application in the field of employee benefits which solves a real problem in that world.
                        </p>
                        <br/>
                        <p>
                            We have been working with them for over two years now and continue to walk with them in their journey.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="as_team_extension">
                        <img src="//s3.amazonaws.com/website-2017/images/clients/logo/kabuni.png" class="kabuni_logo"/>
                        <p>
                            Kabuni wanted to make it to the launch date and used our team as an extension to speed things up.
                        </p>
                        <br/>
                        <p>
                            We closely worked with them and extended the spree e-commerce platform to make it happen for them
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="to_build_mvp">
                        <img src="//s3.amazonaws.com/website-2017/images/clients/logo/schloop.png" class="schloop_logo"/>
                        <p>
                            We have helped the enthusiastic schloop team define the MVP after an extensive user research and reviews and are now in process of launching their MVP.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-clients-section">
        <div class="container">
            <div class="header-wrap">
                <h1>Clients</h1>
                <h4>Join our family</h4>
            </div>
            <div class="our-clients-section-wrap">
                <div class="client-list">
                    {% for client in clients %}
                    <span>
                            <img src="{{client.img_url}}" class="{{ client.cls }}" alt="{{client.name}}">
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {{ next_up_component(paths.mobile_dev_path, 'Mobile Dev') }}

    {% include "includes/contact_form.html" %}

{% endblock %}
