{% extends "../layouts/default.html" %}

{% block title %}
   Mobile App UI Design Company | Best iOS UX Design Companies
{% endblock %}

{% block meta_description %}
    Idyllic has a brilliant team of UI/UX designers who work on building exceptional user experiences.
{% endblock %}

{% block meta_keywords %}
   ios ux design company, mobile ui design, ui design company, best ux design companies, mobile app ui design company, app ui design, user experience, visual design, information architecture, story carding, user research, user validation
{% endblock %}

<!--{% block extra_css %}
	<link href="/css/user-experience.css" rel="stylesheet">
{% endblock %}-->

{% block content %}
<section class="user-experience-viewport-section" data-hide-menu-section>
    <div class="circle-wrap">
      <div class="outer_circle">
        <div class="inner_circle"></div>
      </div>
    </div>
	<div class="user-experience-viewport">
		<h1>We don't design an interface;</h1>
        <span>we craft an experience.</span>
	</div>
  <div class="scroll-button-section">
    <a href="javascript:void(0);" class="curP scroll_to" data-where-to-scroll=".how-we-do-it-section">
        <div class="bounce">{{ icon_scroll() }}</div>
        <div class="f16 f-brush">Scroll</div>
    </a>
  </div>
</section>

<section class="how-we-do-it-section clearfix">
  <div class="col-md-12">
    <div class="left-circle hidden-xs hidden-sm"></div>
    <div class="col-md-offset-2 col-md-9 article-container">
    <div class="nav-links-container hidden-xs hidden-sm">
      <ul class="nav-links">
        <li class="text-uppercase active"><a href="javascript:void(0);" data-index="0" class="hear">Hear</a></li>
        <li class="text-uppercase"><a href="javascript:void(0);" data-index="1" class="learn">Learn</a></li>
        <li class="text-uppercase"><a href="javascript:void(0);" data-index="2" class="ideate">Ideate</a></li>
        <li class="text-uppercase"><a href="javascript:void(0);" data-index="3" class="create">Create</a></li>
      </ul>
    </div>
      <div class="article-summary col-md-offset-1 col-md-11 h4 flex-box align-items-center">
        Experience isn’t about superficial appearance, it’s about the product’s personality. Experience isn’t how you think people will use your product, it’s about how your customers emotionally connect with your product. Experience isn’t static, it flows with time. Experience isn’t a wireframe, it’s about strategy. We love what we do. We love to partner with people who care about human experience of their products.
      </div>
      <div class="clearfix"></div>
      <ul class="how-we-do-slides col-md-12" >
        <li style="background-image: url('//s3.amazonaws.com/website-2017/images/user-experience/hear.jpg')">
          <h2 class="text-uppercase text-left col-md-12 carousel-title">Hear</h2>
          <div class="col-md-offset-5 col-md-7 dark-translucent-background">
            <h5>Phase 1 - Discover the opportunity</h5>
            <hr class="yellow-border">
            <div class="col-md-10 nopaddingLeft">
              <h5>Human beings are a complicated species!</h5>
              <p>Experience isn’t deaf. It’s about your users. They are humans. They have needs. They have emotions. They have desires. They carry an attitude towards life. They need to have a good reason to change the way they do things. And it’s important we listen to them.</p><br>
              <ul class="yellow-ul">
                <li>User Research</li>
                <li>Field Studies</li>
                <li>Stakeholder Interviews</li>
                <li>Competitive Analysis</li>
                <li>Card Sorting</li>
                <li>Contextual Inquiry</li>
              </ul>
            </div>
          </div>
        </li>
        <li style="background-image: url('//s3.amazonaws.com/website-2017/images/user-experience/learn.jpg')">
          <h2 class="text-uppercase text-left col-md-12 carousel-title">Learn</h2>
          <div class="col-md-offset-5 col-md-7 dark-translucent-background">
            <h5>Phase 2 - Define the problem</h5>
            <hr class="yellow-border">
            <h5>Human ecosystems are complex!</h5>
            <p>Experience isn’t just about your users. It’s much more broader than that. It’s like a chain of things. It’s about their families. It’s about their friends. It’s about how they socialize. It’s about complex decision making. It’s about an emotional journey of your users. And it’s important we map out how these ecosystems work.</p><br>
            <ul class="yellow-ul">
              <li>Personae</li>
              <li>Ecosystem Mapping</li>
              <li>Empathy Mapping</li>
              <li>Journey Mapping</li>
              <li>User Stories</li>
            </ul>
          </div>
        </li>
        <li style="background-image: url('//s3.amazonaws.com/website-2017/images/user-experience/ideate.jpg')">
          <h2 class="text-uppercase text-left col-md-12 carousel-title">Ideate</h2>
          <div class="col-md-offset-5 col-md-7 dark-translucent-background">
            <h5>Phase 3 - Design the solution</h5>
            <hr class="yellow-border">
            <h5>Frail ideas spawn in thin air, promising ideas are based on facts!</h5>
            <p>Experience isn’t about coming up with wildest of design ideas. It’s about a factual decision making. It’s about translating what we learnt into a promising design direction. It’s time to conceptualise a strong foundation for your product.</p><br>
            <ul class="yellow-ul">
              <li>Design Concepts</li>
              <li>Information Architecture</li>
              <li>Structural Design</li>
              <li>Product Strategy</li>
              <li>Concept Testing</li>
            </ul>
          </div>
        </li>
        <li style="background-image: url('//s3.amazonaws.com/website-2017/images/user-experience/create.jpg')">
          <h2 class="text-uppercase text-left col-md-12 carousel-title">CREATE</h2>
          <div class="col-md-offset-5 col-md-7 dark-translucent-background">
            <h5>Phase 4 - Deliver the product</h5>
            <hr class="yellow-border">
            <h5>Great design is more science, than art!</h5>
            <p>Experience isn’t just about beauty. It’s about crafting designs that matches the cognitive limits of human minds. It’s about crafting a natural conversation with your users through your product. It’s about making your users feel welcome when they use your product. It’s about creating a romance between your product and it’s users.</p><br>
            <ul class="yellow-ul">
              <li>Interaction Design</li>
              <li>Visual Strategy</li>
              <li>Visual Design</li>
              <li>Microinteractions</li>
              <li>Prototypes</li>
              <li>Usability Testing</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="what-we-do-circle-wrap mb50">
  <div class="container">
    <div class="header-wrap mb30">
      <h2>What We Do</h2>
      <h4>Design as a service</h4>
    </div>
    <div class="what-we-do-wrap">
      <div class="img-overlay-wrap mr50">
        <div class="img-overlay">
          <div class="overlay-count">01</div>
        </div>
        <img src="//s3.amazonaws.com/website-2017/images/user-experience/product-strategy.png" alt="Product Strategy" title="Product Strategy"/>
      </div>
      <div>
        <h4 class="text-uppercase">Product Strategy</h4>
        <p class="f18">We help you with research. We present you factual insights. We help you conceptualise design solutions. We help you ideate. Together, we build a strong strategy for the product.</p>
      </div>
    </div>
    <div class="what-we-do-wrap second">
      <div class="img-overlay-wrap mr50">
        <div class="img-overlay">
          <div class="overlay-count">02</div>
        </div>
        <img src="//s3.amazonaws.com/website-2017/images/user-experience/ui-design.png" alt=”User Interface Design” title=”UI Design”/>
      </div>
      <div>
        <h4 class="text-uppercase">User Interface Design</h4>
        <p class="f18">We help you with designs. We demonstrate how they look, and how they work. We help you design a scalable structure. We design for mobile and the web. We help you with pixel perfect style guides and interface specifications, down to the last pixel.</p>
      </div>
    </div>
    <div class="what-we-do-wrap third">
      <div class="img-overlay-wrap mr50">
        <div class="img-overlay">
          <div class="overlay-count">03</div>
        </div>
        <img src="//s3.amazonaws.com/website-2017/images/user-experience/identity_design.png" alt="Identity Design" title="Identity Design"/>
      </div>
      <div>
        <h4 class="text-uppercase">Identity Design</h4>
        <p class="f18">Your product might be feature-rich with high-end technologies. But your brand is what people will remember you by. A brand is not just a name or a logo. It is who you are to the world. We help you define your brand with thoughtful insights and an awesome customer experience.</p>
      </div>
    </div>
  </div>
  <div class="left-circle hidden-xs hidden-sm"></div>
</section>

<section class="design-nerds-section">
  <div class="design-nerds-overlay"></div>
    <div class="design-text-wrap">
      <div class="design-text">
        <h3>DESIGN</h3>
        <h2>NERDS</h2>
      </div>
      <div class="ux-team">
          <img src="//s3.amazonaws.com/website-2017/images/user-experience/design-team.png" class="img-responsive" title="Design Nerds"/>
      </div>
    </div>
</section>

{{ naked_facts_component(fact, 'ux_dev') }}

{# enable this once code added for video
{{ our_thoughts_component('Design', '') }}
#}

<section class="blog-section">
	<div class="header-wrap mt50 mb50">
	    <h2>Design stories</h2>
	    <h4>we learn, we share</h4>
	</div>
    {{ stories_component(design_dev_stories) }}
</section>

{{ next_up_component(paths.web_dev_path, 'Web Dev') }}

{% include "../includes/contact_form.html" %}

{% endblock %}
