{% extends "../layouts/default.html" %}

{% block title %}
	Node js Development Company | Ruby On Rails Developer | Idyllic
{% endblock %}

{% block meta_description %}
	Idyllic is one of the best Web Development Companies building fast, scalable & reliable solutions.
{% endblock %}

{% block meta_keywords %}
	ruby on rails developer, ror development, rails development, ruby development, node js development company
{% endblock %}

<!--{% block extra_css %}
  <link href="/css/web-dev.css" rel="stylesheet">
{% endblock %}-->

{% block content %}

<section class="web-dev-viewport-section" data-hide-menu-section>
	<div class="circle-wrap">
		<div class="outer_circle">
			<div class="inner_circle"></div>
		</div>
	</div>
	<div class="web-dev-viewport">
		<h1>We are <span>Ruby & Javascript</span> experts. <br/> We create robust, scalable and resilient applications and web services for ambitious organizations.

		</h1>
	</div>
	<div class="scroll-button-section">
        <a href="javascript:void(0);" class="curP scroll_to" data-where-to-scroll=".how-we-do-it-section">
            <div class="bounce">{{ icon_scroll() }}</div>
            <div class="f16 f-brush">Scroll</div>
        </a>
    </div>
</section>

<section class="how-we-do-it-section clearfix">
	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-9 article-container">
		<div class="nav-links-container hidden-xs hidden-sm">
			<ul class="nav-links">
				<li class="text-uppercase active"><a href="javascript:void(0);" data-index="0" class="design">Design</a></li>
				<li class="text-uppercase"><a href="javascript:void(0);" data-index="1" class="architect">Architect</a></li>
				<li class="text-uppercase"><a href="javascript:void(0);" data-index="2" class="build">Build</a></li>
			</ul>
		</div>
			<div class="article-summary col-md-offset-1 col-md-11 h4 flex-box align-items-center">
				Web applications are more than just form and function. A well-crafted web application or web service is the one where the business goals stay central. Every web architecture must be unique to achieve the aims to justify its existence.
			</div>
			<div class="clearfix"></div>
			<ul class="how-we-do-slides col-md-12" >
				<li style="background-image: url('//s3.amazonaws.com/website-2017/images/web-dev/design.jpg')">
					<h2 class="text-uppercase text-left col-md-12 carousel-title">Design</h2>
					<div class="col-md-offset-5 col-md-7 dark-translucent-background">
						<h5>Phase 1 - What will we build and how will it look?</h5>
						<hr class="yellow-border">
						<div class="col-md-10 nopaddingLeft">
		          <p>Design is how it works - Steve Jobs.</p>
		          <p>We live and breathe by this quote and emphasize on design led development. Our design studio will help you create the product journey</p><br>
		            <ul class="yellow-ul">
		              <li>Wireframes</li>
		              <li>Workflows</li>
		              <li>Mood Board</li>
		              <li>Visual Designs</li>
		            </ul>
		          </div>
					</div>
				</li>
				<li style="background-image: url('//s3.amazonaws.com/website-2017/images/web-dev/architect.jpg')">
					<h2 class="text-uppercase text-left col-md-12 carousel-title ls">Architect</h2>
					<div class="col-md-offset-5 col-md-7 dark-translucent-background">
						<h5>Phase 2 - How will it work?</h5>
						<hr class="yellow-border">
						<p>You want your web application that will allow you to scale and flex to new user needs easily. Hence we put a lot of thought into the architecture of your web application so that when you launch, you can scale and extend the application with minimal efforts.</p>
	          <ul class="yellow-ul">
	            <li>Goals for the architecture</li>
	            <li>Assumptions &amp; Dependencies</li>
	            <li>List of unknowns</li>
	            <li>Component Interaction</li>
	            <li>Technology stack</li>
	          </ul>
					</div>
				</li>
				<li style="background-image: url('//s3.amazonaws.com/website-2017/images/web-dev/build.jpg')">
					<h2 class="text-uppercase text-left col-md-12 carousel-title">Build</h2>
					<div class="col-md-offset-5 col-md-7 dark-translucent-background">
						<h5>Phase 3 - Build to realize the vision.</h5>
						<hr class="yellow-border">
						<p>Our process centers around communication. We choose the best of Kanban and Scrum to track the project and various tools such as Slack, Jira, GotoMeeting and others to keep the information flowing.</p>
						<ul class="yellow-ul">
	            <li>HAML/SAAS</li>
	            <li>Responsive Design</li>
	            <li>Continuous Integration</li>
	            <li>Server Setup</li>
	            <li>Code Reviews</li>
	            <li>Quality Assurance & Automated Test Suites</li>
	            <li>Launch</li>
	          </ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="rails-studio-section-wrap">
	<div class="left-circle hidden-xs hidden-sm"></div>
	<div class="container section-fix">
		<div class="rails-studio-section m50">
			<div class="rails-studio">
				<img class="img-responsive" src="//s3.amazonaws.com/website-2017/images/web-dev/rails_logo.png">
				<h2 class="f23">RUBY ON RAILS</h2></div>
			<P class="f22">Six years ago we started as a Ruby on Rails consulting firm. <br/>It still remains our
core technology for web development.</P>
			<h4 class="know-more f18">Know more about our Rails Studio here</h4>
			<a href="{{ paths.ruby_on_rails_tech_path }}">{{ icon_right_arrow() }}</a>
		</div>
	</div>
</section>

<section class="folk-love-us-section">
  <div class="container">
    <div class="center-box-wrap mb50">
      <div class="strike">
        <span class="text-uppercase">See why Alex loves us <span class="rel" style="top:-1px;">:</span>)</span>
      </div>
      <span class="studio-circle m30">
        <img src="//s3.amazonaws.com/website-2017/images/clients/alex-ressi.png" class="profile-img-circle-inner"/>
      </span>
      <p class="pb20">
        “We looked at every major top-name Rails shop in the US - Pivotal, Thoughtbot, Intridea, Highgroove and we even tried working with one of them. They failed where Idyllic Software has been able to deliver great quality work.”
      </p>
      <div class="f14 brand-color">Alex Ressi, CTO</div>
      <div class="f12 designation-wrap">Shipsticks - Florida</div>
      <span class="dIB curP m30 mb0 btn_watch_video" data-modal_id="#testimonial_modal_content" data-video-for="Alex Video" title="play Alex’s message" data-video="CRpu_77qz0s" data-video_type="youtube">
        {{ icon_play() }}
      </span>
      <p class="f-brush rel top-10">play Alex’s message</p>
    </div>
  </div>
</section>

<section class="know-more-tech">
	<div class="header-wrap mb20">
	    <h2>More</h2>
	    <h4>Beyond Ruby on Rails</h4>
	</div>
	<P class="f22 mb30">We see technology as the medium to solve a business problem. We use the <br> right technology stack for the purpose at hand.</P>
	<p class="f22">Apart from Ruby on Rails we also do:</p>
	<div class="img-wrap-up mt30">
		<div class="img-wrap">
			<div class="img-fix">
				<img src="//s3.amazonaws.com/website-2017/images/web-dev/node_js_logo.png" alt=”node.js” title=”Node.js”/>
			</div>
			<div class="img-fix">
				<img src="//s3.amazonaws.com/website-2017/images/web-dev/angular_js_logo.png" alt=”AngularJs” title=”AngularJs”/>
			</div>
			<div class="img-fix">
				<img src="//s3.amazonaws.com/website-2017/images/web-dev/ember_js_logo.png" alt=”EmberJs” title=EmberJs/>
			</div>
			<div class="img-fix">
				<img src="//s3.amazonaws.com/website-2017/images/web-dev/dot_net_logo.png" alt=”.net” title=”.Net”/>
			</div>
			<div class="img-fix">
				<img src="//s3.amazonaws.com/website-2017/images/web-dev/go_logo.png" alt=”GO Programming” title=”Go Programming”/>
			</div>
		</div>
	</div>
	<div class="left-circle hidden-xs hidden-sm"></div>
</section>

 {{ freak_component('WEB', 'DUDES', web_team) }}

{{ naked_facts_component(fact, 'web_dev') }}


{{ our_thoughts_component('Web Dev', '190545902') }}

<section class="blog-section mt50">
	<div class="header-wrap mt50 mb50">
	    <h2>Dev stories</h2>
	    <h4>we learn, we share</h4>
	</div>
	{{ stories_component(web_dev_stories) }}
</section>

{{ next_up_component(paths.mobile_dev_path, 'Mobile Dev') }}

{% include "../includes/contact_form.html" %}

<div id="testimonial_modal_content" class="modal_content">
	<div class="modal_head text-right">
		<a href="#" title="close" class="close-modal">x</a>
	</div>
	<div class="iframe_container"></div>
</div>
<div class="modal_overlay"></div>

{% endblock %}
