@import "../../modules/variables";
@import "../../modules/mixins";

.header-css {
  @include lightFont;
  text-align: center;
  letter-spacing: 3px;
}
.carrier-detail-viewport-section {
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/careers/tree.jpg');
  @include viewport_circle_section;
  .carrier-detail-viewport {
    @include viewPortOverlay;
    padding-top: 150px;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    text-align: center;
    h1 {
        font-size: 44px;
        @include dryBrushFont;
        color: $studio-orange-color;
    }
    h3 {
      margin-top: 0px;
      @extend .header-css;
    }
  }
}

.resonate_with_you {
  position: relative;
  margin-bottom: -150px;
  .center-box-wrap {
    padding: 50px;
    text-align: left;
    @include regularFont;
    .title-font {
        color: $studio-sky-blue-color;
        @extend .header-css;
    }
    ul {
        li {
          line-height: 22px;
          margin-bottom: 20px;
          > div {
              @include displayFlexCenter;
              justify-content: flex-start;
              -webkit-justify-content: flex-start;
          }
          span.f-brush {
            color: $studio-sky-blue-color;
            font-size: 26px;
          }
        }
    }
  }
  > .container {
    position: relative;
    width: 100%;
    top: -240px;
  }
}

.careers-us-viewport-section {
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/careers/banner.jpg');
  @include viewport_circle_section;
  .careers-us-viewport {
    @include viewPortOverlay;
    .scroll-button-section {
      position: relative;
      top: 70px;
      .scrollToPositions {
        text-align: center;
        display: block;
        color: $studio-orange-color;
        cursor: pointer;
        svg {
          width: 24px;
        }
        div {
          position: relative;
          top: 12px;
        }
        .f-brush {
          top: 0px;
          bottom: -10px; 
        }
        &:hover {
          color: #fff;
          text-decoration: none;
          .brand-white-fill-color {
            fill: $studio-light-black-color;
          }
        }
      }
    }
  }
}

.perks-section {
  position: relative;
  z-index: 1;
  .center-box-wrap {
      padding: 50px;
      p {
        color: $studio-dark-black-color;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        max-width: 560px;
        margin: 0 auto;
        &:first-child {
          margin-bottom: 20px;
        }
      }
      img {
        width: 20%;
        height: 100%;
      }
  }
  > .container {
    position: relative;
    width: 100%;
    top: -120px;
    margin-bottom: -100px;
  }
}

.work-at-idyllic-wrap {
  margin-top: 108px;
}
.work_at_idyllic_section {
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/careers/work_at_idyllic/1.jpg', 100% 100%);
  .container {
      width: 100%;
      @include blackOverlay(0.8);
  }
  .our-section-wrap {
    .slides {
        height: 740px;
    }
    .slides-items {
      h2 {
        width: 100%;
        text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
      }
      height: 600px;
      display: flex;
      @include browserCssFlex;
      text-align: center;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
    }
    .custom_slick .slick-prev-icon,
    .custom_slick .slick-next-icon {
      top: 33%;
    }
  }
}

.our-thoughts-section {
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/careers/tree.jpg');
  p.thoughts-heading {
    @include dryBrushFont;
    font-size: 70px;
    color: $studio-orange-color;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  }
  .center-box-wrap {
    max-width: 700px;
    margin-top: 27%;
    padding: 40px;
    letter-spacing: 2px;
    p {
      color: $studio-light-black-color;
      @include crimsonTextFont;
      max-width: 560px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 48rem) {
  .checkbox-row.mb30 {
    margin-bottom: 0;
  }
}

.opening-section {
  height: auto;
  @include displayFlexCenter;
  align-items: inherit;
  -webkit-align-items: inherit;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding-top: 108px;
  .opening-header {
    margin: 0px 300px;
    padding: 0px 50px;
    text-align: center;
    @include displayFlexCenter;
    align-items: inherit;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .opening-field {
    width: 1000px;
    margin: 0 auto;
    .roles {
      border-top: 2px solid #d9e0e6;
      border-bottom: 0;
      padding: 20px;
      h4 {
        width: 100%;
        @include lightFont;
        color: $studio-orange-color;
        font-size: 22px;
        span {
          color: gray;
          @include semiBoldFont;
          font-size: 16px;
        }
      }
    }
    .accordion_arrow {
        display: inline-block;
        @include widthHeight(36px, 36px);
        background-repeat: no-repeat;
        background-image: url("//s3.amazonaws.com/website-2017/images/svg/up_circle_triangle.svg");
    }
    .collapsed {
      .accordion_arrow {
        background-image: url("//s3.amazonaws.com/website-2017/images/svg/down_circle_triangle.svg");
      }
    }
    .hidden-roles {
      display: flex;
      @include browserCssFlex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      max-height: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      > a {
        width: 170px;
        height: 70px;
        text-decoration: none !important;
        background-color: #fff;
        border-bottom: 2px solid $studio-sky-blue-color;
        @include displayFlexCenter;
        color: #657682;
        border-radius: 3px;
        margin-right: 30px;
        margin-bottom: inherit;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        font-size: 16px;
        padding: 20px;
        box-shadow: 0 0 15px rgba(185, 185, 185, 0.4);
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        transition: all ease 0.8s;
      }
    }
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top: 0;
    }
    .panel-group {
      margin-bottom: 0;
      &:last-child {
        border-bottom: 2px solid #d9e0e6;
      }
      .panel {
        border: 0;
        background: none;
        box-shadow: none;
      }
      .panel-default > .panel-heading {
        background: none;
        padding: 0;
      }
      .panel-body {
        padding: 0;
      }
    }
    .collapse.in {
      border: 0px;
    }
  }    
}

.management_team_people_section {
  position: relative;
  top: -150px;
  margin-bottom: -150px;
  .center-box-wrap {
      padding: 54px 20px 0px 20px;
      .management-img {
        display: flex;
        @include browserCssFlex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        align-items: flex-end;
        -webkit-align-items: flex-end;
      }
      .f-brush {
          color: $studio-orange-color;
          margin: 0px 0px 30px;
      }
  }
  .name_section_wrap {
    background: #fff;
    position: relative;
    box-shadow: 0px 5px 2px rgba(41, 48, 53, 0.35);
    padding: 40px;
    border-top: 4px solid  $studio-orange-color;
    color: $studio-dark-black-color;
    text-align: center;
  }
  .name_section {
    width: 800px;
    margin: 0px auto;
    @include displayFlexCenter;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    span.divide {
      display: inline-block;
      width: 20px;
      margin: 15px 15px 5px;
      border-bottom: 1px solid #ccc;
    }
    .team-name-item {
        width: 50%;
    }
    h3 {
      @include lightFont;
      font-size: 20px;
      margin: 0px;
    }
    .f-brush {
      color: $studio-sky-blue-color;
      font-size: 26px;
      margin: 0px;
      line-height: 45px;
    }
  }
}

.apply_now_section {
  .input-form {
      .personal-info, .conversation {
        text-align: center;
        margin-top: 60px;
        img {
          width: 110px;
        }
        h4 {
          @include dryBrushFont;
          color: #5f6f7c;
          letter-spacing: 2px;
          top: -18px;
          position: relative;
          margin: 0px;
          font-size: 24px;
        }
      }
      .form-group {
          width: 100%;
          margin-bottom: 40px;
          .form-control {
            width: 100%;
          }
          textarea {
            border: 1px solid #ccc;
            resize: none;
            height: 140px;
            box-shadow: none;
            border-radius: 0px;
          }
          textarea:focus {
              border: 1px solid $studio-orange-color;
          }    
          .textarea-label {
            color: #999;
            margin-bottom: 15px;
            font-size: 16px;
            @include boldFont;
            letter-spacing: 2px;
          }
      }
      .conversation {
        margin-top: 120px;
        img {
          width: 150px;
        }
        h4 {
          top: -5px;
          }
      }
    .choose-file-section {
      span.browse-title {
        color: #999;
        position: relative;
        top: 7px;
      }
    }
  }
}

@media (max-width: 480px) {
  .careers-us-viewport-section{
    .careers-us-viewport {
      h1 {
          font-size: 30px;
          line-height: 40px;        
      }
      span {
        font-size: 36px;
      }
    }
  }
  .carrier-detail-viewport-section {
    .carrier-detail-viewport {
      h1 {
          font-size: 36px;
      }
    }
  }    
}

@media (max-width: 480px) {
  .resonate_with_you {
    margin-bottom: -108px;
    >.container{
      top: -150px;
    }
    .center-box-wrap {
      padding: 30px;
      ul {
        li {
          span.f-brush {
            margin-right: 4px;
          }
        }
      }    
    }
  }    
}
@media (min-width: 768px) and (max-width: 992px) {
  .resonate_with_you {
    .container {
      padding: 0px 50px;
    }
  }
  .apply_now_section {
    .container {
      padding: 0px 50px;
    }
  }    
}

@media (max-width: 480px) {
  .work_at_idyllic_section {
    .our-section-wrap {
      .slides-items {
        .number {
          font-size: 26px;
        }
      }
    }
  }
  .management_team_people_section {
    top: -50px;
    margin-bottom: -50px;
    .center-box-wrap {
      h1 {
        font-size: 30px;
      }
      .management-img {
        .img-section {
          img {
            width: 100px;
          }  
        }
      }
    }
    .name_section_wrap {
      padding: 20px;     
      .name_section {
        h3 {
          font-size: 18px;
        }
        width: 100%;
      }
    }    
  }
  .our-thoughts-section {
    p.thoughts-heading {
      font-size: 50px;
      margin-bottom: 40px;
    }
    .center-box-wrap {
      margin-bottom: 20%;
    }
  }
  .opening-section {
    .opening-header { 
      margin: 0px;
      padding: 0px;
      .header-wrap h1 {
        font-size: 50px;
      }
      p {
        padding: 0px 20px;
      }
    }
    .opening-field {
      width: 100%;
      .roles {
        h4 {
          font-size: 20px;
          span {
            font-size: 12px;
          }
        }
      }    
    }
  }  
}

@media (min-width: 768px) and (max-width: 992px) {
  .opening-section {
    .opening-header { 
      margin: 0px;
      padding: 0px 50px;
    }  
    .opening-field {
      width: 100%; 
      padding: 0px 70px;
    }  
  }
}