@import "../../modules/variables";
@import "../../modules/mixins";

.loader-viewport-section {
  height: 100vh;
  min-height: 600px;
  @include backgroundCoverImage('../images/home/banner.jpg');
  .loader-viewport {
    @include viewPortOverlay;
    background: rgba(41, 48, 53, 0.8);
    h1 {
      font-size: 18em;
      @include thinFont;
      letter-spacing: 25px;
      color: $studio-orange-color;
    }
    span {
      font-size: 72px;
      margin-top: -110px;
      text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
}

.landing-wrap {
  position: relative;
}

.res-slider{
    .arrow{
        display: none;
    }
}

.clients-slider{
    .arrow{
        display: none;
    }
}

.main-viewport-section {
  height: 100vh;
  min-height: 600px;
  @include backgroundCoverImage('../images/home/banner.jpg');
  position: relative;
  .overlay {
      @include fullViewAbs;
      z-index: 1;
      background-color: rgba(41, 48, 53, 0.4);
  }
  #bg-video-container {
    position: relative;
    @include widthHeight;
    overflow: hidden;
  }
  #bg-video {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.we-specialize-section {
  position: relative;
  z-index: 1;
  &.scrollIn {
      margin-top: -120px;
      transition: margin-top 0.5s;
  }
  .center-box-wrap {
    padding: 50px;
    p {
      max-width: 560px;
      margin: 0 auto;
    }
  }
  > .container {
    width: 100%;
    margin-top: 0px;
    transition: margin-top 0.5s;
  }
  .clients-images {
    display: inline-table;
    width: 100%;
    span {
      width: 20%;
      display: table-cell;
      img {
        width: 100px;
      }
      &.projects-bridj-logo {
        img {
          width: 70px;
        }
      }
      &.more-projects {
        @include semiBoldFont;
      }
    }
  }
}

.what-we-do-circle-wrap {
  margin-top: 108px;
}

//Project Section animation
.project-section {
  .fankave_bg {
    .fbg {
      img {
        right: -100%;
      }
    }
    &.in_viewport_section {
      .fbg {
        img {
          transition: right 1s;
          right: -15%;
        }
      }
    }
  }
  .brig_bg {
    .bbg {
      img {
        right: -100%;
      }
    }
    &.in_viewport_section {
      .bbg {
        img {
          transition: right 1s;
          right: 0%;
        }
      }
    }
  }
}


.project-section-wrap {
  height: 640px;
  font-size: 16px;
  position: relative;
  .project-info {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    margin-left: -45px;
    z-index: 1;
    padding: 13px 40px 0px 25px;
    width: 100%;
    ul {
      li {
        position: relative;
        line-height: 35px;
        @include lightFont;
        text-indent: -19px;
        margin-left: 40px;
        margin-bottom: 18px;
        line-height: 22px;
        > span {
          @include dryBrushFont;
          color: $studio-sky-blue-color;
          font-size: 36px;
          margin-right: 0;
          display: inline-block;
          width: 20px;
          position: relative;
          top: 5px;
        }
        &:first-child{
          > span {
            top: 20px;
          }
        }
        &:last-child{
          > span {
            top: 15px;
          }
        }
      }
    }
  }
  .opaque-bg {
    height: 100%;
    padding: 50px;
    p {
      color: #b0c2ce;
      width: 92%;
      font-size: 18px;
    }
    .small-span-border {
      display: inline-block;
      width: 25px;
      border: 1px solid $studio-light-gray-color;
      margin: 10px 0px 20px;
    }
    svg {
      width: 32px;
      height: 32px;
    }
  }
  &.brig_bg.lazyloaded {
    @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/banners/bridj.jpg');
  }
  &.fankave_bg {
      &.lazyloaded{
          @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/banners/fankave_home.jpg');
      }

    .opaque-bg {
      p {
        width: 75%;
      }
    }
    .project-info {
      margin-left: -120px;
    }
  }
  .icon-right-wrap {
    margin-top: 260px;
    &.fankave-button {
      margin-top: 300px;
    }
  }
  .read-more-label {
    @include regularFont;
    line-height: 31px;
    color: $studio-orange-color;

  }
  a {
    display: inline-block;
    transition: all .3s ease;
    &:hover {
        color: $white-color;
        background: $studio-hover-color;
      .read-more-label {
        color: $white-color;
        // background: $studio-hover-color;
      }
      .brand-orange-fill-color {
        fill: $studio-hover-color;
      }
    }
  }
}


.Slider{
    .slides{
        .slick-list{
            overflow: visible;
        }
    }
}

.project-section-content{
    background-color: $white-color;
    max-width: 1000px;
    padding: 30px;
    p.title{
        @include lightFont;
        color: $stories-title-color;
        font-size: 38px;
        max-width: 65%;
        line-height: 1.25;
    }
    p.description{
        color: $studio-light-black-color;
        max-width: 75%;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .read-more{
        max-width: 160px;
        text-align: center;
        a{
            border: 2px solid $studio-orange-color;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 10px;
            span{
                font-weight: bold;
                text-align: center;
            }
            &:hover{
                border-color: $studio-hover-color;
            }
        }
    }
}

.project-section{
    .slider-container{
        .slider{
            p{
                margin-bottom: 8px;
            }
        }
    }
}

.slider-container{
    position: absolute;
    bottom: 40px;
    left: 15%;
    .slider{
        position: relative;
        cursor: pointer;
        p{
            color: $white-color;
            font-weight: bold;
            font-size: 14px;
            text-align: center;

            &:first-child{
                margin-bottom: 0;
            }
        }
        span{
            width: 15px;
            border: 1px solid $white-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .active{
        p{
            color: $stories-title-color;
        }
    }
}

.project-section {
  position: relative;
  z-index: 2;
  overflow: hidden;
  .project-section-panel {
    margin-bottom: 80px;
    position: relative;
  }
  .header-wrap {
    margin-bottom: 56px;
  }
  .fankave_bg {
    .fbg {
      img {
        position: absolute;
        top: -35px;
        right: -100%;
      }
    }
    &.in_viewport_section {
      .fbg {
        img {
          transition: right 1s;
          right: -10%;
        }
      }
    }
  }
  .brig_bg {
    .bbg {
      img {
        top: -120px;
        position: absolute;
        right: -100%;
      }
    }
    &.in_viewport_section {
      .bbg {
        img {
          transition: right 1s;
          right: -7%;
        }
      }
    }
  }
}

.why-work-with-us-section {
  position: relative;
  top: -80px;
  .video_wrap {
    margin-top: 30px;
    position: relative;
    .video-play-wrap {
      position: relative;
    }
    .play-btn-wrap {
      position: absolute;
      left: 44%;
      top: 33%;
      .btn_watch_video {
        width: 54px;
        height: 54px;
        background: transparent;
        box-shadow: 0 10px 40px rgba(14, 14, 14, 0.6);
      }
      svg {
        width: 54px;
        height: 54px;
        .brand-white-fill-color:last-child {
          fill: rgba(255,255,255,0.5);
        }
      }
    }
    .video-heading {
      @include semiBoldFont;
      color: $studio-orange-color;
      margin: 50px 0 30px;
      display: block;
      letter-spacing: 2px;
      font-size: 20px;
    }
    .video-title {
      @include regularFont;
      color: $studio-sky-blue-color;
      margin-top: 15px;
      margin-bottom: 0;
    }
    img {
      max-width: 400px;
      width: 100%;
    }
    .get-copy-section p {
      @include regularFont;
      color: $studio-sky-blue-color;
      font-size: 18px;
      max-width: 370px;
      width: 100%;
      margin: 0 auto 20px;
    }
    .video_email_form {
      display: flex;
      @include browserCssFlex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      input {
        width: 100%;
      }
      span {
        margin-right: 5px;
      }
    }
  }
  .circle-section {
     @include fullViewAbs;
     overflow: hidden;
    .right-circle, .left-circle {
      position: absolute;
      background: rgba(0,220,240, 0.1);
    }
    .right-circle {
      @include circle(400px);
      right: -100px;
      top: -201px;
    }
    .left-circle {
      @include circle(300px);
      bottom: -75px;
      left: -150px;
    }
  }
  .container {
    width: 100%;
    margin-bottom: -140px;
    top: 108px;
    z-index: 1;
    position: relative;
  }
}
.project-section {
    .fankave_bg {
      .fbg.hide-slider {
        img {
          transition: right 1s;
          right: -100%;
        }
      }
    }
    .brig_bg {
      .bbg.hide-slider {
        img {
          transition: right 1s;
          right: -500%;
        }
      }
    }
}
//Testimonial Section
.folk-love-us-section {
    position: relative;
  .container {
    width: 100%;
    margin: 75px 0;
  }
  .heading{
    text-align: center;
    position: relative;
    z-index: 999;
  }
  .img{
    text-align: center;
    margin-top: 15px;
    position: relative;
    div.quotes{
        &.lazyloaded{
            background: url(//s3.amazonaws.com/website-2017/images/svg/quote.svg) 50% 50% no-repeat;
        }
      background-size: contain;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 40%;
      opacity: .5;
      top: -8%;
      transform: translate(-50%, -50%);
    }
  }
  .play{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -90px;
    transform: translateX(-50%);
  }
  .f-brush {
    color: $studio-dark-black-color;
    position: relative;
    top: -15px;
    z-index: 1;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .center-box-wrap-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 90px;
  }
  .designation-wrap {
    letter-spacing: 1.5px;
    @include semiBoldFont;
  }
  .brand-color {
    @include crimsonTextFont;
    font-size: 22px;
  }
  .play-icon {
    position: relative;
    top: 22px;
    left: 4px;
  }
}
.our-count-section {
  display: flex;
  @include browserCssFlex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  width: 100%;
  .count-circle-wrapper {

    .overlay-circle, .overlay, .overlay-circle img {
      width: 100px;
      height: 100px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
    }
    .overlay {
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 220, 240, 0.65);
      .overlay-count {
        color: #fff;
        font-size: 38px;
        position: relative;
        top: 22px;
        @include lightFont;
      }
    }
  }
}



.We-learn-section{
    position: relative;
    h2{
      margin: 180px 0 50px;
      text-align: center;
      font-size: 45px;
      @include dryBrushFont;
      color: $white-color;
      margin-bottom: 100px;
    }
    .gaurav-section{
        &.lazyloaded{
            @include backgroundCoverImage("../images/home/photo_we_learn_we_share.png");
        }
        position: relative;
        .container{
          width: 100%;
          padding: 75px 0 50px;
        }
        .invite-us-section{
          max-width: 70%;
          height: auto;
          background-color: $white-color;
          margin: 0 auto 50px;
          padding: 30px 20px 50px;
          position: relative;
          .img-container{
              position: absolute;
              top: -56px;
              left: 0;
          }
          .content{
              padding-left: 125px;
              max-width: 80%;
              h3 {
                  @include regularFont;
                  color: $stories-title-color;
                  font-size: 35px;
              }
              p {
                  @include crimsonTextFont;
                  color: $studio-light-black-color;
                  font-size: 18px;
                  font-weight: bold;
                  margin-bottom: 10px;
              }
              .invite-us-link{
                  display: block;
                  padding: 20px 0 6px;
                  a {
                      @include semiBoldFont;
                      border: 2px solid $studio-orange-color;
                      text-decoration: none;
                      text-transform: uppercase;
                      padding: 10px;
                      margin-top: 10px;
                      color: $studio-orange-color;
                      transition: all .3s ease;
                      &:hover{
                          color: $white-color;
                          border-color: $studio-hover-color;
                          background-color: $studio-hover-color;
                      }
                  }
              }
          }
        }
    }
    .shivam-section{
        &.lazyloaded{
            @include backgroundCoverImage("../images/home/bg_shivam.png");
        }
        position: relative;
        .container{
          width: 100%;
          padding: 75px 0 50px;
        }
        .hcl-section{
            max-width: 70%;
            height: auto;
            background-color: $white-color;
            margin: 0 auto 50px;
            padding: 30px 20px 50px;
            position: relative;
            .shivam-img-container{
                position: absolute;
                top: -64px;
                left: 0;
            }
            .shivam-content{
                padding-left: 145px;
                max-width: 80%;
                h3 {
                    @include regularFont;
                    color: $stories-title-color;
                    font-size: 35px;
                }
                p {
                    @include crimsonTextFont;
                    color: $studio-light-black-color;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .invite-us-link{
                    display: block;
                    padding: 20px 0 5px;
                    a {
                        @include semiBoldFont;
                        border: 2px solid $studio-orange-color;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 10px;
                        margin-top: 10px;
                        color: $studio-orange-color;
                        transition: all .3s ease;
                        &:hover{
                            color: $white-color;
                            border-color: $studio-hover-color;
                            background-color: $studio-hover-color;
                        }
                    }
                }
            }
        }
    }
    .slider-container{
        position: absolute;
        left: 23%;
        bottom: 5%;
        transform: translateX(-50%);
        .slider{
            cursor: pointer;
            p{
                @include semiBoldFont;
                color: $white-color;
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
        .active{
            p {
                color: $stories-title-color;
            }
        }
    }
 }
  .slider-container{
    position: absolute;
    left: 15%;
    bottom: 10%;
    .slider{
        cursor: pointer;
        p{
            @include semiBoldFont;
            color: $white-color;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
    .active{
        p {
            color: $stories-title-color;
        }
    }
}

.our-virtues-section {
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/banners/our_section_bg.jpg');
  position: relative;
  .circle-wrap {
    background: rgba(41, 48, 53, 0.8);
    .outer_circle{
      background: rgba(0, 0, 0, 0.2);
      .inner_circle{
          background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .container {
      .our-section .header-wrap h1{
          color: rgba(217, 224, 230, 0.5);
      }
      @include fullViewAbs;
      overflow: hidden;
  }
}

//320 - 768
@media screen and (min-width: $device-iphone-xs) and (max-width: $device-sm) {
  .our-section .our-section-wrap {
    max-width: 800px;
    width: 100%;
    .header-wrap h1 {
      letter-spacing: 1px;
      line-height: 60px;
    }
    .slides {
      width: 100%;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      .slick-dots {
        bottom: 85px;
      }
    }
    .slides-items .number {
      margin-bottom: 10px;
    }
  }
  .project-section .project-section-panel {
    margin-bottom: 50px;
  }
  .main-viewport-section {
    background-position: 70%;
  }
  .phontom-div {
    display: none;
  }
  .folk-love-us-section {
    .center-box-wrap {
      max-height: 767px;
      height: 767px;
      &-container {
        padding: 0 20px;
        width: 100%;
        .strike > span {
          white-space: normal;
        }
      }
      .quotes-overlay {
        background: url(//s3.amazonaws.com/website-2017/images/svg/quote.svg) #ccc 50% 25% no-repeat;
        background-size: 30%;
      }
    }
  }
  .project-section-wrap {
    .icon-right-wrap {
      &.fankave-button {
        margin-top: 15px;
      }
    }
  }
}
//320 - 480
@media screen and (min-width: $device-iphone-xs) and (max-width: $device-xs) {
  .project-section-wrap {
    height: 726px;
    &.brig_bg .opaque-bg, &.fankave_bg .opaque-bg {
      padding: 30px 10px;
      .small-span-border {
        margin: 5px 0 10px;
      }
    }
    &.fankave_bg {
      height: 700px;
    }
  }
  .project-section {
    .header-wrap h4 {
      font-size: 20px;
      margin: 0px 10px;
    }
  }
  .we-specialize-section .clients-images {
    margin-bottom: 50px;
    & span {
      margin-bottom: 0;
    }
  }
  .folk-love-us-section {
    .center-box-wrap {
      max-height: 767px;
      height: 767px;
      &-container {
        padding: 0 20px;
        width: 100%;
        .strike > span {
          white-space: normal;
        }
      }
      .quotes-overlay {
        background: url(//s3.amazonaws.com/website-2017/images/svg/quote.svg) #fff 50% 25% no-repeat;
        background-size: 30%;
      }
    }
  }
}
//Large devices
@media (max-width: 1200px) {
    .project-section-content{
        padding: 20px;
        max-width: 88%;
        p.title{
            font-size: 28px;
            max-width: 55%;
        }
        p.description{
            max-width: 65%;
        }
    }
  .project-section-wrap {
    &.brig_bg .opaque-bg, &.fankave_bg .opaque-bg {
      padding: 30px 10px;
      .project-info {
        max-width: 100%;
        margin-left: 0;
        padding: 10px 15px 10px 15px;
        width: auto;
        position: static;
        li {
          font-size: 14px;
          span {
            font-size: 30px;
            margin-right: 5px;
          }
        }
      }
      p {
        width: 100%;
      }
    }
    .icon-right-wrap {
      margin-top: 15px;
      float: right;
    }
  }
  .We-learn-section{
    .invite-us-section{
      padding: 18px;
      .content{
          padding-left: 135px;
          h3 {
              font-size: 30px;
          }
          .invite-us-link{
              display: block;
              padding: 20px 0 6px;
              a {
                  @include semiBoldFont;
                  border: 2px solid $studio-orange-color;
                  text-decoration: none;
                  text-transform: uppercase;
                  padding: 10px;
                  margin-top: 10px;
                  color: $studio-orange-color;
                  &:hover{
                      color: $studio-hover-color;
                      border-color: $studio-hover-color;
                  }
              }
          }
      }
      }
    }

}
//768
@media (max-width: $device-sm) {
  .we-specialize-section .clients-images {
    width: 100%;
    display: block;
    span {
      display: block;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .we-specialize-section .center-box-wrap {
    padding: 50px 20px;
  }
  .center-box-wrap {
    padding: 50px 20px;
    font-size: 16px;
  }
  .why-work-with-us-section {
      .container {
          top: 100px;
      }
  }
}
@media (max-width: $device-xs) {
  .center-box-wrap {
    font-size: 14px;
  }
}

.reviews_section {
  max-width: 800px;
  margin: 0 auto;
}

//320 - 480
@media (min-width: $device-iphone-xs) and (max-width: $device-xs) {
    .we-specialize-section {
      .center-box-wrap {
        p {
          margin-bottom: 40px;
        }
      }
    }

    .our-count-section {
      display: none;
    }

    .what-we-do-circle-wrap {
      .img-overlay-wrap{
          margin-bottom: 20px;
      }
    }

    .header-wrap{
        padding: 0 12px;
        h1{
            font-size: 50px;
        }
    }

    .fankave-logo-wrap{
        text-align: center;
        .flex-box{
            display: block;
        }
    }

    .flex-container-2 > div{
        margin-right: 0;
    }

    .project-section-content{
        max-width: 90%;
        padding: 20px 15px;
        p.title{
            font-size: 28px;
            line-height: 1.25;
            max-width: 100%;
        }
        p.description{
            max-width: 100%;
            font-size: 20px;
        }
        .read-more{
            max-width: 100%;
            text-align: center;
        }
        .flex-box{
            display: block;
        }
    }

    .flex-container-3 {
        > div{
            margin-right: 0;
        }
        img{
            margin: auto;
        }
    }

    .design-rush{
        text-align: center;
    }

    .slider-container{
        bottom: 37px;
        left: 50%;
        transform: translateX(-50%);
    }

    .why-work-with-us-section {
      position: relative;
      top: -80px;
      margin-bottom: 220px;
      .video_wrap {
        display: none;
      }
      .container{
          p.sub-info-text{
              font-size: 25px;
          }
          p{
              font-size: 20px;
          }
      }
    }

    .folk-love-us-section {
        padding-bottom: 25px;
      .heading{
        margin-top: 30px;
      }
      .img{
        img{
            width: 100%;
        }
        div.quotes{
          left: 15%;
        }
      }
      .play{
        bottom: 0px;
        width: 100%;
      }
      .f-brush {
        padding-top: 20px;
        font-size: 25px;
      }
    }
}

//481 - 768
@media (min-width: $device-xs) and (max-width: 767px) {
    .we-specialize-section {
      .center-box-wrap {
        p {
          margin-bottom: 40px;
          font-size: 22px;
        }
      }
    }

    .our-count-section{
        display: none;
    }

    .what-we-do-circle-wrap {
      .img-overlay-wrap{
          margin-bottom: 20px;
      }
    }

    .header-wrap{
        padding: 0 12px;
        h1{
            font-size: 50px;
        }
        h4 {
            padding: 0 10px;
        }
    }

    .fankave-logo-wrap{
        text-align: center;
        .flex-box{
            display: block;
        }
    }

    .flex-container-2 > div{
        margin-right: 0;
    }

    .project-section-content{
        text-align: center;
        max-width: 90%;
        padding: 20px 15px;
        p.title{
            font-size: 28px;
            line-height: 1.25;
            max-width: 100%;
            padding-top: 20px;
        }
        p.description{
            max-width: 100%;
            font-size: 20px;
        }
        .read-more{
            max-width: 100%;
            text-align: center;
        }
        .flex-box{
            display: block;
        }
    }

    .flex-container-3 {
        > div{
            margin-right: 0;
        }
        img{
            margin: auto;
        }
    }

    .slider-container{
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    .why-work-with-us-section {
      position: relative;
      top: -80px;
      margin-bottom: 220px;
      .video_wrap {
        display: none;
      }
      .container{
          p.sub-info-text{
              font-size: 25px;
          }
          p{
              font-size: 20px;
          }
      }
    }

    .folk-love-us-section {
        padding-bottom: 25px;
      .heading{
        margin-top: 30px;
      }
      .img{
        img{
            // width: 100%;
        }
        div.quotes{
          left: 15%;
        }
      }
      .play{
        bottom: 0px;
        width: 100%;
      }
      .f-brush {
        padding-top: 20px;
        font-size: 25px;
      }
    }
}

//max-768
@media (max-width: 767px) {
    .We-learn-section{
        display: none;
    }
}

//769 - 991
@media (min-width: 768px) and (max-width: 991px) {
    .header-wrap{
        padding: 0 20px;
    }

    .project-section-content{
        // padding: 20px 15px;
        p.title{
            font-size: 35px;
            line-height: 1.25;
            max-width: 90%;
        }
        p.description{
            max-width: 100%;
            font-size: 20px;
        }
    }

    .folk-love-us-section {
      .img{
        div.quotes{
          left: 37%;
        }
      }
      .play{
        bottom: -85px;
        width: 100%;
      }
      .f-brush {
        padding-top: 20px;
      }
    }

    .We-learn-section{
        .invite-us-section{
            max-width: 85%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .slider-container{
        bottom: 35px;
        left: 15%;
        transform: translateX(-50%);
    }

    .folk-love-us-section {
      .img{
        div.quotes{
          left: 35%;
        }
      }
      .play{
        bottom: -90px;
        width: 100%;
      }
      .f-brush {
        padding-top: 20px;
      }
    }
}

@media (max-width: 767px) {
    .We-learn-section{
        display: none;
    }
}

@media (min-width: 1200px) {
    .slider-container{
        bottom: 7%;
        left: 17.5%;
        transform: translateX(-50%);
    }
    .We-learn-section{
      .invite-us-section{
        padding: 30px 20px 28px;
        .content{
            padding-left: 135px;
        }
      }
    }
}

@media (max-width: 768px) {
    .res-slider{
        position: relative;
        span{
            height: 100px;
            img{
                margin: 0 auto;
                height: auto;
                vertical-align: middle;
                display: inline-block;
            }

            &:before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

        }

        .arrow{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9999;
            cursor: pointer;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .left-arrow{
            left: 8%;
        }
        .right-arrow{
            right: 8%;
        }
    }

    .clients-slider{
        position: relative;
        a{
            height: 200px;
            img{
                margin: 0 auto;
                height: auto;
                vertical-align: middle;
                display: inline-block;
            }

            &:before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

        }

        .arrow{
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9999;
            cursor: pointer;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .left-arrow{
            left: 8%;
        }
        .right-arrow{
            right: 8%;
        }
    }

}

@media (min-width: 767px) {
    .res-slider{
        .arrow{
            display: none;
        }
    }
    .clients-slider{
        .arrow{
            display: none;
        }
    }
}

//Minor Fixes Media
@media (min-width: 768px) and (max-width: 991px) {
    .project-section{
        .slider-container{
            bottom: 5%;
            left: 7%;
        }
    }
    .We-learn-section{
        .slider-container{
            left: 13%;
            bottom: 5%;
        }
    }
    .folk-love-us-section {
      .img{
        div.quotes{
          left: 30%;
        }
      }
      .f-brush {
        padding-top: 0;
      }
    }
}

@media (min-width: 992px) and (max-width: 1080px) {
    .project-section-content{
        max-width: 80%;
        p.title{
            font-size: 30px;
            max-width: 55%;
        }
        p.description{
            max-width: 68%;
        }
    }
    .project-section {
        .project-section-wrap{
            .fankave_bg {
              .fbg.hide-slider {
                img {
                  transition: right 1s;
                  right: -500%;
                }
              }
            }
            .brig_bg {
              .bbg.hide-slider {
                img {
                  transition: right 1s;
                  right: -500%;
                }
              }
            }
        }
    }
}

@media (max-width: 360px) {
    .project-section-content{
        p.title{
            font-size: 25px;
        }
    }
}

@media (min-width: 1081px) and (max-width: 1200px) {
    .project-section-content{
        max-width: 80%;
        p.title{
            font-size: 30px;
            max-width: 60%;
        }
        p.description{
            max-width: 70%;
        }
    }
}

@media (min-width: 1200px) {

}

// We learn Gaurav  and shivam section  media
//Gaurav section
@media (min-width: 767px) and (max-width: 798px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 90%;
              padding: 25px 20px 60px;
              .content{
                  padding-left: 135px;
                  h3 {
                      font-size: 30px;
                  }
              }
            }
        }
        .slider-container{
            position: absolute;
            left: 18%;
            bottom: 5%;
            transform: translateX(-50%);
            .slider{
                cursor: pointer;
                p{
                    @include semiBoldFont;
                    color: $white-color;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            .active{
                p {
                    color: $stories-title-color;
                }
            }
        }
    }
}

@media (min-width: 799px) and (max-width: 860px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 90%;
              padding: 25px 20px 60px;
              .content{
                  padding-left: 135px;
                  h3 {
                      font-size: 30px;
                  }
              }
            }
        }
    }
}

@media (min-width: 861px) and (max-width: 896px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 80%;
              padding: 30px 20px 55px;
              .content{
                  padding-left: 135px;
                  h3 {
                      font-size: 30px;
                  }
              }
            }
        }
    }
}

@media (min-width: 897px) and (max-width: 974px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 80%;
              padding: 30px 20px 55px;
              .content{
                  padding-left: 135px;
                  h3 {
                      font-size: 30px;
                  }
              }
            }
        }
    }
}

@media (min-width: 975px) and (max-width: 991px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 80%;
              padding: 45px 20px 65px;
              .content{
                  padding-left: 135px;
                  h3 {
                      font-size: 30px;
                  }
              }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 80%;
              padding: 45px 20px 60px;
              .content{
                  padding-left: 145px;
                  max-width: 85%;
              }
            }
        }
    }
}

@media (min-width: 1101px) and (max-width: 1196px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 75%;
              padding: 40px 20px 65px;
              .content{
                  padding-left: 145px;
                  max-width: 85%;
              }
            }
        }
    }
}

@media (min-width: 1197px) and (max-width: 1200px) {
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 70%;
              padding: 45px 20px 60px;
              .content{
                  padding-left: 145px;
                  max-width: 85%;
              }
            }
        }
    }
}

@media (min-width: 1201px){
    .We-learn-section{
        .gaurav-section{
            .invite-us-section{
              max-width: 800px;
              padding: 40px 20px 65px;
            }
        }
    }
}

//shivam media
@media (min-width: 768px) and (max-width: 820px) {
    .We-learn-section{
        .shivam-section{
            .hcl-section{
                max-width: 98%;
                padding: 10px 10px 28px;
                .shivam-img-container{
                    top: -91px;
                }
                .shivam-content{
                    padding-left: 185px;
                    max-width: 85%;
                    h3 {
                        font-size: 30px;
                        margin-top: 5px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 821px) and (max-width: 991px) {
    .We-learn-section{
        .shivam-section{
            .hcl-section{
                max-width: 800px;
                padding: 15px 0 30px;
                .shivam-img-container{
                    top: -91px;
                }
                .shivam-content{
                    padding-left: 185px;
                    max-width: 85%;
                    h3 {
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .We-learn-section{
        .shivam-section{
            .hcl-section{
                max-width: 950px;
                padding: 3px 0px 25px;
                .shivam-img-container{
                    top: -92px;
                }
                .shivam-content{
                    padding-left: 185px;
                    max-width: 84%;
                }
            }
        }
    }
}

@media (min-width: 1020px) and (max-width: 1100px) {
    .We-learn-section{
        .shivam-section{
            .hcl-section{
                max-width: 900px;
                padding: 0 0 28px;
                .shivam-img-container{
                    top: -92px;
                }
                .shivam-content{
                    padding-left: 180px;
                    max-width: 85.5%;
                }
            }
        }
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .We-learn-section{
        .shivam-section{
            .hcl-section{
                max-width: 85%;
                padding: 8px 20px 20px;
                .shivam-img-container{
                    top: -92px;
                }
                .shivam-content{
                    padding-left: 165px;
                    max-width: 85%;
                }
            }
        }
    }
}

@media (min-width: 1201px){
    .We-learn-section{
        .shivam-section{
            .hcl-section{
              max-width: 880px;
              padding: 5px 0 23px 20px;
              .shivam-img-container{
                top: -92px;
              }
              .shivam-content{
                  padding-left: 175px;
                  max-width: 87%;
              }
            }
        }
    }
}


//Slick-slider
@media (max-width: 480px) {
    .clients-slider{
        .slick-slide{
            width: 300px;
        }
        .arrow{
            .left-arrow{
                left: 5%;
            }
            .right-arrow{
                right: 5%;
            }
        }
    }
    .res-slider{
        .slick-slide{
            width: 300px;
        }
    }
}


// Media query for mobile homepage 25-04-17
@media (max-width: 768px) {
    .main-page-top-section{
        .main-page-top{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .main-page-mid-section-wrap{
            display: none;
        }

        .main-page-top-wrap.scroll-button-wrap{
            .scroll-button-section{
                margin-bottom: 120px;
            }
        }
    }

    .landing-we-are-section{
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        .landing-title{
            margin-bottom: 50px;
            h3{
                font-size: 35px;
            }
        }

        .landing-subtitle{
            p{
                color: rgba($white-color, .75);
                line-height: 2;
                text-transform: uppercase;
                margin: auto;
                width: 250px;
                @include mediumFont;
            }
        }
    }

    .we-specialize-section{
        .center-box-wrap{
            display: none;
        }
    }

    .what-we-do-circle-wrap{
        margin-top: 50px;

        .img-overlay-wrap{
            display: none;
        }
    }

    .header-wrap{
        h1, h2{
            line-height: 45px;
        }
    }
}

@media (max-width: 769px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                span{
                    display: none;
                }
            }
        }
        .landing-subtitle{
            p{
                span{
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                br{
                    display: none;
                }
                span{
                    margin-right: 6px;
                }
            }
        }
        .landing-subtitle{
            p{
                br{
                    display: none;
                }
                span{
                    margin-right: 5px;
                }
            }
        }
    }
}
