@import "../../modules/variables";
@import "../../modules/mixins";

.mobile-dev-viewport-section{
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/mobile-dev/banner.jpg');
  @include viewport_circle_section;
  .mobile-dev-viewport{
      @include viewPortOverlay;
  }
  .scroll-button-section {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    a {
      text-decoration: none;
      display: inline-block;
      svg {
        width: 16px;
      }
      .f-brush {
        margin-top: -20px;
        color: #fff;
      }
      &:hover {
        text-decoration: none;
        svg .brand-orange-fill-color {
          fill: #657682;
        }
        .f-brush {
          color: $studio-orange-color;
        }
      }
    }
  }
}
.how-we-do-it-section .nav-links-container .nav-links {
  li {
    a {
      &.design:before {
        content: 'how';
      }
      &.architect:before {
        content: 'we';
      }
      &.build:before {
        content: 'do';
      }
      &.build:after {
        content: 'it';
        position: absolute;
        bottom: -110px;
        left: -25px;
        @include dryBrushFont;
        font-size: 70px;
        text-transform: lowercase;
        color: rgba(0, 153, 187, 0.6);
        z-index: -1;
        letter-spacing: 8px;
        text-shadow: none;
      }
    } 
    &.active {
      a.build:after {
        left: -55px;
      }
    } 
  }
}
.what-we-do {
  .iOSWrap {
    border-right: 1px solid #eaeaea;
    .wrap-heading {
      @include dryBrushFont;
      font-size: 30px;
      color: $studio-orange-color;
      position: absolute;
      left: 225px;
      top: 20px;
    }
    p {
    }
    .iPhone {
      position: absolute;
      left: 100px;
      top: -30px;
      z-index: -1;
    }
    .iPad {
      top: 80px;
      left: 225px;
      z-index: -1;
    }
    .macbook {
      bottom: 0;
      left: -100px;
      z-index: -1;
    }
  }
  .androidWrap {
    .wrap-heading {
      @include dryBrushFont;
      font-size: 30px;
      color: $studio-orange-color;
      position: absolute;
      left: 75px;
      top: 20px;
    }
    p {
    }
    .androidPhone {
      position: absolute;
      left: 225px;
      top: -30px;
      z-index: -1;
    }
    .androidTab {
      bottom: 0;
      left: 0;
      z-index: -1;
    }
    .androidWatch {
      top: 200px;
      left: 200px;
      z-index: -1;
    }
  }
}

.hybrid-world-section {
   margin: 108px auto;
   width: 55%;
  .hybrid-world {
      text-align: center;
      @include crimsonTextFont;
      font-size: 20px;
      .sub-info-text {
          @include dryBrushFont;
          font-size: 30px;
          color: $studio-orange-color;
      }
  }
}

.team-name-slider {
  svg:hover .brand-orange-fill-color {
    fill: #ffac84;
  }
}

.slick-slide, .dark-translucent-background {
  height: 100%;
  max-height: 622px;
}

li.slick-slide {
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-position: 0% 47px;
  background-clip: content-box;
}

@media (min-width: $device-md) {
  .our-thoughts-video-section {
    @include circle_mixin(460, 260);
  }
}

@media (min-width: $device-lg) {
  .our-thoughts-video-section {
    @include circle_mixin(660, 460);
  }
}

@media (max-width: $device-sm) {
  .our-thoughts-video-section {
    .our-thoughts-video {
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      h1 {
        font-size: 24px;
        letter-spacing: 4px;
        margin-top: 70px;
      }
      p {
        font-size: 24px;
        letter-spacing: 4px;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: $device-xs) {
  .our-thoughts-video-section {
    .btn_watch_video {
      left: 41%;
      top: 42%;
    }
  }
  .how-we-do-it-section {
    .dark-translucent-background {
      height: 100%;
      min-height: 820px;
      padding: 100px 10px 10px 20px;
    }
    .slick-slide {
      min-height: 820px;
      height: 100%;
    }
    div.col-md-12 {
      padding: 20px 0;
    }
    h1.col-md-12 {
      padding: 44px 0px 0 14px;
    }
    .article-container {
      padding: 0;
    }
    .article-summary {
      padding: 20px 15px;
    }
    ul.how-we-do-slides {
      padding: 0;
      .slick-next-icon {
        top: 57px;
      }
    }
    li.slick-slide {
      background-position: initial;
      padding-bottom: 0;
    }
    .slick-dots {
      bottom: 25px;
    }
  }
  .slick-slide, .dark-translucent-background {
    max-height: 1000px;
  }
  .custom_slick {
    .slick-next-icon {
      right: -20px;
    }
    .slick-prev-icon {
      left: -20px;
    }    
  }
  .what-we-do {
    .iOSWrap {
      margin-bottom: 30px;
      padding: 0;
      .iPad {
        top: 24%;
        left: 50%;
      }
      .macbook {
        left: -20px;
        width: 80%;
      }
      h4.wrap-heading {
        left: 124px;
        top: 16px;
      }
    }
    .androidWrap {
      padding: 0;
      .androidPhone {
        position: absolute;
        left: 50%;
        top: -30px;
        z-index: -1;
      }
      .androidWatch {
        top: 59%;
        left: 44%;
      }
      h4.wrap-heading {
        left: 96px;
        top: 20px;
      }
    }
    .text-light {
      padding: 0;
      font-size: 20px;
    }
  }
  .mobile-dev-viewport-section{
    .mobile-dev-viewport {
      h1 {
          font-size: 24px;
          line-height: 32px;
          margin-right: 15px;       
          margin-left: 15px;       
      }
      span {
        font-size: 24px;
      }
    }
  }
  .hybrid-world-section {
    margin: 50px 15px;
    width: auto;
  }
}

@media screen and (min-width: $device-xs) and (max-width: $device-sm) {
  .how-we-do-it-section {
    .carousel-title {
      font-size: 52px;
      margin-left: 10px;
    }
    .how-we-do-slides .slick-next-icon {
      top: 57px;
    }
  }
}

@media screen and (min-width: $device-xs) and (max-width: $device-md) {
  .how-we-do-it-section {
    .dark-translucent-background, .slick-slide {
      min-height: 515px;
    }
    .dark-translucent-background {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: $device-md) {
  .what-we-do .iOSWrap {
    border-right: 0;
  }
}
