@import "../modules/variables";
@import "../modules/mixins";

.footer-section {
	background: url('//s3.amazonaws.com/website-2017/images/svg/logo.svg') #293035 50% 50% no-repeat;
	background-size: cover;
	padding: 100px 0;
	.locations-section, .footer-menu {
		display: flex;
		@include browserCssFlex;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.idyllic-locations {
		text-align: center;
		width: 170px;
		margin: 0 20px 50px;
		img {
			&:hover {
				@include rotate(-360deg);
				filter: grayscale(0);
				transition-duration: 1s;
			}
		}
		&:hover {

			.address, .cont-number {
					color: #fff;
				}
		}
    	.face-img-wrap {
		  height: 174px;
		}
    	img {
			width: 90px;
			margin: 20px 0 30px;
			-webkit-transition: 1s ease-in-out;
			-moz-transition: 1s ease-in-out;
			-o-transition: 1s ease-in-out;
			transition: 1s ease-in-out;
			filter: grayscale(1);
		}
		.location-name {
			color: $studio-orange-color;
			@include semiBoldFont;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 3px;
		}
		.address {
			font-size: 16px;
			height: 70px;
		}
		.owner {
			color: $studio-orange-color;
			font-size: 24px;
    	letter-spacing: 5px;
    	margin-bottom: 0;
			@include dryBrushFont;
		}
		.cont-number {
			@include semiBoldFont;
			font-size: 14px;
    		letter-spacing: 2px;
    		a:hover {
    		    color: inherit;
    			text-decoration: none;
    		}
		}
	}
	.footer-menu {
		margin: 100px 0 140px;
		&-section {
			width: 220px;
    	text-align: center;
    	a:hover {
    		    color: inherit;
    			text-decoration: none;
    		}
    	p {
    		@include semiBoldFont;
    		color: #fff;
    		text-transform: uppercase;
    		letter-spacing: 4px;
    		font-size: 14px;
    	}
    	ul {
    		text-align: left;
    		margin-left: 70px;
    		margin-top: 15px;
    		li {
    			margin-bottom: 15px;
    			a {
	    			font-size: 16px;
	    			color: $studio-light-black-color;
	    			&:hover {
	    				color: $studio-orange-color;
	    				text-decoration: none;
	    			}
    			}
    		}
    	}
    	.social-icons {
    		a {
    			text-decoration: none;
    			margin-right: 20px;
    		}
    		.brand-white-fill-color, .dark-white-fill-color {
    			fill: $studio-light-black-color;
    			&:hover {
    				fill: $studio-orange-color;
    			}
    		}
    	}
		}
	}
	.footer-end-section {
		display: flex;
		@include browserCssFlex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0 160px;
    align-items: center;
    -webkit-align-items: center;
    a:hover {
    		  color: $studio-hover-color;
    			text-decoration: none;
    		}
    svg {
    	width: 60px;
    	height: 60px;
    }
    span {
    	@include semiBoldFont;
    	color: #fff;
    	letter-spacing: 4px;
    }
	}
}

#footer{
    padding-top: 80px;
    opacity: 0;
}

@media (max-width: 48rem) {
	.footer-section {
	  .footer-end-section {
	    justify-content: center;
	    -webkit-justify-content: center;
	    padding: 0 70px;
	    svg {
	    	margin: 0 20px;
	    }
	    span {
	    	margin-top: 20px;
	    }
	  }
	  .footer-menu-section {
	  	margin-bottom: 20px;
	  	ul {
	  		margin-left: 0;
    		text-align: center;
    		li a:last-child {
    			margin-right: 0;
    		}
	  	}
	  }
	}
}
