@import "../modules/variables";
@import "../modules/fonts";
@import "../modules/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../vendor/slick-theme";
@import "../vendor/slick";
@import "../vendor/sweetalert";
@import "../modules/flexbox";
@import "../modules/svg_css_class";
@import "navbar";
@import "footer";

body {
  @include crimsonTextFont;
  color: $studio-light-black-color;
  background-image: url(//s3.amazonaws.com/website-2017/images/wall-pattern.png);
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translateY(0);
  }
  40% {
    @include translateY(-30px);
  }
  60% {
    @include translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    @include translateY(0);
  }
  40% {
    @include translateY(-30px);
  }
  60% {
    @include translateY(-15px);
  }
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.content-wrap{
    padding-top: 65px;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

::-moz-selection, ::-moz-selection {
  color: #fff !important;
  background: $studio-orange-color !important;
}

::-moz-selection, ::selection {
  color: #fff !important;
  background: $studio-orange-color !important;
}

.thumbnail-wrap {
  padding: 0 70px;
  position: relative;
  &.custom_slick {
    .slick-prev-icon {
        left: 10px;
        top: 50%;
    }
    .slick-next-icon {
        right: 10px;
        top: 50%;
    }
  }
  .thumbnail-section {
    width: 228px;
    cursor: pointer;
    height: 136px;
    background: url(//s3.amazonaws.com/website-2017/images/svg/logo.svg) $studio-dark-black-color 50% 50% no-repeat;
    display: block;
    text-align: center;
    margin: 0px 15px 0 0;
    color: $studio-orange-color;
    @include regularFont;
    font-size: 18px;
    padding: 8px;
    border: 1px solid transparent;
    .video-title {
      color: #fff;
    }
    &.active, &:hover {
      border-color: $studio-orange-color;
      opacity: 0.9;
    }
  }
}

.ajax-loader {
  display: block;
  @include posAbs(50%, 50%);
  @include widthHeight(30px, 30px);
  @include  marginTopLeft(-15px, -15px);
  background: url('//s3.amazonaws.com/website-2017/images/svg/ajax-loader.svg') no-repeat;
}
.slick-slide {
  outline: none;
}
ul, li{ list-style-type: none; padding: 0px;}

a { color: inherit; }

.sprt {
  background-image: url(//s3.amazonaws.com/website-2017/images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  &.bridj-icon, &.bridj-icon-blue {
    @include widthHeight(49px, 49px);
  }
  &.bridj-icon{ background-position: 1px 1px; }
  &.bridj-icon-blue{ background-position: -51px 0px; }

  &.toll-free-exchange-icon, &.toll-free-exchange-icon-blue {
    @include widthHeight(110px, 42px);
  }
  &.toll-free-exchange-icon { background-position: 0px -51px; }
  &.toll-free-exchange-icon-blue { background-position: -113px -51px; }

  &.fankave-icon, &.fankave-icon-blue {
    @include widthHeight(58px, 41px);
  }
  &.fankave-icon { background-position: -101px 0px; }
  &.fankave-icon-blue { background-position: -163px 0px; }

  &.toll-free-icon {
    @include widthHeight(145px, 55px);
    background-position: 0px -95px;
  }

  &.bridj-icon-red {
    @include widthHeight(79px, 78px);
    background-position: 1px -151px;
  }
  &.bridj-icon-white {
    @include widthHeight(79px, 78px);
    background-position: 1px -330px;
  }
  &.fankave-icon-dark-blue {
    @include widthHeight(164px, 42px);
    background-position: 0px -230px;
  }
  &.fankave-icon-white {
    @include widthHeight(77px, 55px);
    background-position: 0px -274px;
  }
  &.fankave-icon-full-white {
    @include widthHeight(194px, 51px);
    background-position: 0px -409px;
  }
  &.date-time {
    @include widthHeight(15px, 15px);
    background-position: 0px -460px;
  }
  &.like {
    @include widthHeight(15px, 15px);
    background-position: 2px -474px;
  }
  &.shares {
    @include widthHeight(20px, 19px);
    background-position: 0px -488px;
  }
}

$i: 100;
@while $i >= 0 {
  .m#{$i} { margin: $i + px; }
  .mt#{$i} { margin-top: $i + px; }
  .mb#{$i} { margin-bottom: $i + px; }
  .mr#{$i} { margin-right: $i + px; }
  .ml#{$i} { margin-left: $i + px; }
  .p#{$i} { padding: $i + px; }
  .pt#{$i} { padding-top: $i + px; }
  .pb#{$i} { padding-bottom: $i + px; }
  .pr#{$i} { padding-right: $i + px; }
  .pl#{$i} { padding-left: $i + px; }
  $i: $i - 5;
}

$i: 30;
@while $i >= -30 {
  .top#{$i} { top: $i + px; }
  .bottom#{$i} { bottom: $i + px; }
  .left#{$i} { left: $i + px; }
  .right#{$i} { right: $i + px; }
  $i: $i - 5;
}

$i: 11;
@while $i <= 40 {
  .f#{$i} { font-size: $i + px; }
  $i: $i + 1;
}
$i: 14;
@while $i <= 40 {
  .lh#{$i} { line-height: $i + px; }
  $i: $i + 2;
}
$i: 100;
@while $i <= 800 {
  .fw#{$i} { font-weight: $i; }
  $i: $i + 100;
}


.rel { position: relative; }
.abs { position: absolute; }
.dIB { display: inline-block; }
.curP {cursor: pointer;}
button.btn {@extend .rel;}
button.btn.loaderIn {
    color: transparent !important;
    background-image: none !important;
}

.brand-color {  color: $studio-orange-color; }
svg:hover .brand-orange-fill-color {
  fill: $studio-hover-color;
}
.brand-black-color {  color: $studio-dark-black-color; }
.brand-blue-color {  color: $studio-sky-blue-color; }

.primary-button {
  background: $studio-orange-color;
  border: 0;
  border-radius: 0;
  color: #fff;
  @include semiBoldFont;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-size: 15px;
}
.primary-button:hover {
  color: #fff;
  background: $studio-hover-color;
}

.f-brush {  @include dryBrushFont; }

.opaque-bg {
    background:  rgba(41, 48, 53, 0.85);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.center-box-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
  background: #fff;
  padding: 54px 90px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 0 15px rgba(185, 185, 185, 0.4);
  .quotes-overlay {
    background: url('//s3.amazonaws.com/website-2017/images/svg/quote.svg') #fff 50% 32% no-repeat;
    background-size: 11%;
    width: 100%;
    height: 100%;
    display: flex;
    @include browserCssFlex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
    opacity: 0.5;
  }
  .sub-info-text {
      @include dryBrushFont;
      font-size: 28px;
      color: #3e4a51;
      padding: 36px 0px;
      margin-bottom: 0;
  }
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  > span {
    position: relative;
    display: inline-block;
    color: $studio-orange-color;
    @include boldFont;
    font-size: 12px;
    letter-spacing: 2px;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 60px;
      height: 1px;
      margin-top: -1px;
      background: $studio-orange-color;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.studio-circle {
  display: inline-block;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 15px #cccbcb;
  .studio-circle-inner, .profile-img-circle-inner {
    margin: 2px;
    display: inline-block;
    width: 71px;
    height: 71px;
    border-radius: 100%;
  }
  .studio-circle-inner{
      background: $studio-orange-color;
  }
}

.btn_watch_video {
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 10px 40px rgba(204,203,203,0.6);
}

.phontom-div {
  -webkit-transition: height .1s;
  transition: height .1s;
}

.main-page-top-section {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100vh;
  min-height: 650px;
  padding: 20px;
  .main-page-top {
    position: absolute;
    z-index: 5;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(41, 48, 53, 0.90);
    color:  #fff;
    @include lightFont;
    display: flex;
    @include browserCssFlex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-justify-content: space-between;
    &-wrap {
      position: relative;
      z-index: 1;
      padding: 20px;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
          color: $studio-orange-color;
          .brand-white-fill-color {
            fill: $studio-orange-color;
          }
          .dark-white-fill-color {
            fill: $studio-orange-color;
          }
        }
      }
      &.scroll-button-wrap {
        display: flex;
        @include browserCssFlex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-align-items: flex-end;
        padding: 0px 20px 20px 20px;
        .scroll-button-section {
          width: 38%;
          text-align: center;
          a {
            display: inline-block;
            svg {
              width: 16px;
            }
            .f-brush {
              margin-top: -20px;
            }
            &:hover {
              svg .brand-orange-fill-color {
                fill: #657682;
              }
            }
          }
        }
        .phone-icon {
          width: 37%;
          img {
            margin-right: 10px;
          }
        }
        .mail-icon {
          width: 37%;
          text-align: right;
        }
      }
    }
  }
  .main-page-mid-section-wrap {
    @include displayFlexCenter;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-justify-content: space-around;
    height: 94%;
    margin-top: -38px;
    padding: 0px 20px;
    p {
      text-align: center;
      color: $studio-orange-color;
      font-size: 16px;
      @include semiBoldFont;
      letter-spacing: 1px;
    }
  }
  .mid-bg-section {
    @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/svg/logo_orange.svg');
    background-size: 70% 70%;
    width: 40%;
    background-position: 50% 46%;
    p {
      @include dryBrushFont;
      font-size: 75px;
      color: #fff;
      text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
      margin-bottom: -6px;
      &:first-child {
        margin-bottom: 14px;
      }
    }
  }
}

.our-count-section{
    .count-circle-wrapper{
        .overlay-text{
            margin-top: -15px;
            z-index: 2;
            position: relative;
        }
    }
}

.landing-we-are-section{
    text-align: center;
    margin-top: -20px;
    .landing-title{
        h3{
            @include proximaNova;
            font-weight: 200;
            color: $studio-light-gray-color;
            letter-spacing: 2px;
            width: 50%;
            text-align: center;
            margin: 10px auto;
        }
    }
    .landing-subtitle{
        p {
            @include proximaNova;
            font-weight: 100;
            color: $white-color;
            margin-bottom: 20px;
        }
    }
}

.header-wrap {
  text-align: center;

  &.contact{
    margin-bottom: 50px;
  }

  h1,h2 {
    @include boldFont;
    text-transform: uppercase;
    font-size: 56px;
    letter-spacing: 8px;
    color: $studio-light-gray-color;
    margin: 0px;
  }
  h4 {
    @include dryBrushFont;
    color: $studio-orange-color;
    letter-spacing: 2px;
    top: -18px;
    position: relative;
    margin: 0px;
    font-size: 21px;
  }
}

.header-subtitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 21px;
    h4 {
        @include crimsonTextFont;
        font-weight: bold;
        margin-bottom: 30px;
        color: $studio-light-black-color;
        margin-bottom: 0;
    }
    p {
        @include boldFont;
        color: $studio-orange-color;
        text-transform: uppercase;
        a{
            text-decoration: none;
            &:hover{
                color: $studio-hover-color;
            }
        }
    }
}

.custom_slick {
  .slick-prev-icon, .slick-next-icon {
      position: absolute;
      display: block;
      height: 30px;
      width: 40px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: transparent;
      line-height: 0px;
      font-size: 0px;
      cursor: pointer;
      color: transparent;
      top: 26%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
  }
  .slick-prev-icon {
    left: -75px;
  }
  .slick-next-icon {
    right: -75px;
  }
}

.next-up-section{
  height: 240px;
  margin-top: 108px;
    &.lazyloaded{
        @include backgroundCoverImage('../images/next_up.png');
    }
    a:link {
    text-decoration: none;
  }
  .next-up{
    height: 100%;
    color: #fff;
    display: flex;
    @include browserCssFlex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(41, 48, 53, 0.8);
    @include boldFont;
    letter-spacing:3px;
    padding-top: 30px;
    span {
      letter-spacing: 6px;
    }
    .fs40{
      @include dryBrushFont;
      font-size: 60px;
      color:$studio-orange-color;
      text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
  &:hover {
    .fs40{
      color: $studio-hover-color;
    }
  }
}

.nopaddingLeft {
  padding-left: 0;
}

.yellow-border {
  border-color: yellow;
}

.how-we-do-it-section {
  a:link {
    text-decoration: none;
    &:active {
      color:$studio-orange-color;
    }
  }
  .nav-links-container {
    position: absolute;
    height: auto;
    padding: 30px 0 10px 10px;
    letter-spacing: 5px;
    top: -15px;
    left: -85px;
    background: $studio-sky-blue-color;
    background: -webkit-repeating-linear-gradient(315deg, $studio-sky-blue-color, $studio-sky-blue-color 2px,   #00d6ea 3px, #00d6ea 5px);
    background: repeating-linear-gradient(135deg, $studio-sky-blue-color, $studio-sky-blue-color 2px,   #00d6ea 3px, #00d6ea 5px);
    z-index: 1;
    width: 184px;
    .main-heading {
      @include dryBrushFont;
      font-size: 50px;
      color: rgb(90,151,184);
      margin-left: -3px;
      margin-top: -12px;
      max-height: 255px;
    }
    .nav-links {
      li {
        padding: 30px 0 20px;
        a {
          @include boldFont;
          font-size: 22px;
          color: #fff;
          letter-spacing:5px;
          text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
          margin-left: 10px;
          position: relative;
          &:before {
            content: 'How';
            position: absolute;
            top: -60px;
            left: -25px;
            font-family: 'Dry Brush', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 60px;
            text-transform: lowercase;
            color: rgba(0,153,187,0.6);
            z-index: -1;
            letter-spacing: 4px;
            text-shadow: none;
            font-weight: normal;
          }
          &:hover {
            color: $studio-yellow-color;
          }
        }
        &.active {
          position: relative;
          &::before {
            content: '';
            background: $studio-yellow-color;
            width: 44%;
            height: 3px;
            right: 72%;
            top: 45px;
            margin-right: 20px;
            position: absolute;
          }
          a {
            margin-left: 40px;
            color: $studio-yellow-color;
            text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
            &:before {
              left: -55px;
            }
          }
        }
      }
    }
  }

  .how-we-do-slides {
    @include boldFont;
    .slick-next-icon {
        position: absolute;
        display: block;
        height: 30px;
        width: 40px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
    }
    .slick-next-icon {
      right: 50px;
      top: 70px;
      svg:hover .brand-orange-fill-color {
        fill: #fff;
      }
    }
  }
  .carousel-title {
    @include boldFont;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 10px;
    margin-left: 84px;
    position: absolute;
    color: white;
    text-shadow: 0px 2px 36px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0;
  }
  .dark-translucent-background {
    background: rgba(0,0,0,.6);
    padding: 100px 0 100px 30px;
    color: white;
    height: 100%;
    min-height: 622px;
    p {
      @include lightFont;
    }
    ul {
     @include regularFont;
    }
  }
  .article-summary {
    padding: 20px 25px;
    min-height: 150px;
    line-height: 27px;
  }
}

.absolute {
  position: absolute;
}

.yellow-ul {
  li {
    margin-bottom: 10px;
    margin-left: 20px;
    &:before {
      content:'\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -5px;
      color: yellow;
      font-size: 20px;
    }
  }
}

.email-form-wrap {
  background: #f4f5f7;
  text-align: center;
  margin: 0 auto;
  padding: 6px 0;
  width: 80%;
  input {
    display: inline-block;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline: 0;
    width: 75%;
    @include lightFont;
    &:focus {
      box-shadow: none;
    }
  }
}

input.input-field {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid #d9e0e6;
  border-radius: 0;
  font-size: 16px;
  outline: 0;
  padding: 6px 0;
  letter-spacing: 2px;
  width: 75%;
  @include regularFont;
  &:focus {
    box-shadow: none;
  }
}

.form-bg{
    background: transparent;
    textarea.text-field {
      background: transparent;
      box-shadow: none;
      border: 0;
      border-bottom: 2px solid #d9e0e6;
      border-radius: 0;
      font-size: 16px;
      outline: 0;
      padding: 6px 0;
      letter-spacing: 2px;
      @include regularFont;
      &:focus {
        box-shadow: none;
        border-color: $studio-orange-color;
      }
    }
}



.blog-section{
  width: 900px;
  margin: 0px auto;
  ul {
    display: flex;
    @include browserCssFlex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .blog-section-content{
    width: 100%;
    &.image_not_present {
      width: 50%;
      padding-right: 35px;
    }
    .blog-img-wrap {
      position: relative;
      .patch_wrap {
          position: absolute;
          width: calc(100% - 60px);
          height: calc(100% - 60px);
          z-index: 1;
          margin: 30px;
          border: 1px solid #fff;
      }
      .patch {
        background-color: rgba(0, 220, 240, 0.7);
        position: absolute;
        width: 70px;
        height: 20px;
        z-index: 2;
        &.left-cornor {
          @include rotate(-40deg);
          top: 5px;
          left: -20px;
        }
        &.right-cornor {
          @include rotate(-40deg);
          bottom: 5px;
          right: -15px;
        }
      }
    }
    &:nth-child(2n){
      .patch {
        background-color: rgba(238, 99, 33, 0.7);
        &.left-cornor {
          @include rotate(-15deg);
          top: -5px;
          right: 0px;
          left: initial;
        }
        &.right-cornor {
          @include rotate(30deg);
          right: initial;
          left: 5px;
          width: 60px;
          bottom: 0px;
        }
      }
    }
    &:nth-child(3n){
      .patch {
        &.right-cornor {
          width: 50px;
          right: 0px;
          bottom: -5px;
        }
      }
    }
    &:nth-child(4n){
      .patch {
        background-color: rgba(0, 220, 240, 0.7);
        &.left-cornor {
          @include rotate(-20deg);
          top: -5px;
          right: 0px;
          left: initial;
        }
        &.right-cornor {
          @include rotate(30deg);
          right: initial;
          left: -14px;
          width: 50px;
        }
      }
    }
    svg {
      visibility: hidden;
      width: 32px;
      height: 32px;
    }
    > .blog-wrap {
      display: flex;
      @include browserCssFlex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-items: center;
      text-decoration: none !important;
      color: inherit !important;
      &:hover {
        svg {
          visibility: visible;
          width: 32px;
          height: 32px;
        }
      }
    }
    position: relative;
    &.even {
      .blog-img-wrap {
        margin-right: 50px;
      }
    }
    &.odd {
        .blog-img-wrap {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            margin-left: 50px;
        }
        .blog-info{
            margin-left: 0px;
        }
    }
    &:last-child{
      border-bottom: none;
      margin-right: 0;
    }
    .design-img{
        width: 425px;
        height: 270px;
      }
    .blog-info{
        display: block;
        text-align: left;
        h3{
          font-size: 12px;
          letter-spacing:2px;
          color: $studio-sky-blue-color;
          @include semiBoldFont;
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
        }
        h2{
          font-size: 20px;
          color: $studio-dark-black-color;
          margin-top: 10px;
        }
        p {
          @include lightFont;
          line-height: 24px;
        }
    }
  }
}

.what-we-do-circle-wrap {
  .what-we-do-wrap {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    @include browserCssFlex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-items: center;
    position: relative;
    top: 0px;
    &.second {
      top: -30px;
      z-index: 1;
    }
    &.third {
      top: -60px;
    }
    &:hover {
      .img-overlay {
        background-color: rgba(41, 48, 53, 0.65);
        color: $studio-orange-color;
      }
      .img-overlay-wrap + div {
        background: url(//s3.amazonaws.com/website-2017/images/svg/grey-brush.svg) no-repeat 0% 0%;
        background-size: 40%;
      }
      h4 {
        color: $studio-orange-color;
      }
      .icon-right-wrap {
        visibility: visible;
      }
    }
    .icon-right-wrap {
      visibility: hidden;
    }
    h4 {
      letter-spacing: 4px;
      font-size: 18px;
      color: $studio-dark-black-color;
      @include boldFont;
    }
    p { width: 80%;}
    a:hover {
      color:inherit;
      text-decoration: none;
    }
  }
  .img-overlay-wrap, .img-overlay, .img-overlay-wrap img {
    width: 240px;
    height: 240px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
  }
  .img-overlay {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: rgba(238, 99, 33, 0.65);
    .overlay-count {
      font-size: 70px;
      position: relative;
      top: 50%;
      text-align: center;
      margin-top: -35px;
      @include dryBrushFont;
      text-shadow: 0px 2px 12px rgba(0,0,0,0.5)
    }
  }
  .icon-right-wrap svg {
    width: 27px;
    height: 27px;
  }
}

.our-section {
  height: 740px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  @include lightFont;
  font-weight: 400;
  .header-wrap {
     h2 {
      font-size: 72px;
      color: rgba(214,215,220,0.4);
      letter-spacing: 15px;
      padding-top: 125px;
      padding-top: 150px;
    }
  }
  .our-section-wrap {
    width: 800px;
    width: 70%;
    margin: 0px auto;
    .slides {
      width: 80%;
      margin: 0px auto;
      height: 300px;
      display: flex;
      @include browserCssFlex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-items: center;
    }
    .slides-items{
      letter-spacing: 2px;
      .number {
        font-size: 36px;
        margin-bottom: 24px;
        color: $studio-sky-blue-color;
        font-weight: 200;
      }
      p {
        @include crimsonTextFont;
        font-size: 21px;
        max-width: 520px;
        margin: 0 auto;
      }
    }
    svg:hover .brand-orange-fill-color {
      fill: #fff;
    }
  }
}
.contact-section {
  padding-top: 88px;
  margin-bottom: 108px;
  .contact-heading {
    color: $studio-light-black-color;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
}

.form-section {
  @include lightPlaceHolder;
  .input-form {
    @include regularFont;
    .form-group {
      margin-right: 50px;
      margin-bottom: 30px;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      label{
          letter-spacing: 2px;
          @include semiBoldFont;
          font-size: 16px;
          margin-bottom: 0;
          color: $studio-light-black-color;
      }
      input {
        color: $studio-full-black-color;
        width: 500px;
        padding: 0;
      }
      textarea {
        color: $studio-full-black-color;
        width: 500px;
        padding: 0;
      }
    }
    .labels-title {
      letter-spacing: 2px;
      @include semiBoldFont;
      span {
        @include lightFont;
        text-transform: none;
      }
    }
    .checkbox-sections {
      display: inline-block;
      margin: 0 15px 5px 0;
      input:checked + label {
        background: $studio-orange-color;
        color: #fff;
      }
      label {
        background: #fff;
        border: 1px solid $studio-orange-color;
        color: $studio-dark-black-color;
        cursor: pointer;
        padding: 5px 15px;
        font-size: 16px;
        @include regularFont;

        &:hover {
          background: #ffac84;
          color: #fff;
        }
      }
    }

    .checkbox-row:nth-child(even) {
        .checkbox-sections {
          input:checked + label {
            background: $studio-sky-blue-color;
          }
          label{
            border: 1px solid $studio-sky-blue-color;
            &:hover {
              background: #8ee8f0;
              color: #fff;
            }
          }
        }
    }

    .select-time {
      input[type='button'] + label {
        background: $studio-light-gray-color;
        border: 1px solid #caced1;
        color: $studio-light-black-color;
        text-transform: initial;
        @include semiBoldFont
      }
    }
    .done-button {
      background: url('//s3.amazonaws.com/website-2017/images/svg/thumbsup.svg') $studio-orange-color 15% 41% no-repeat;
      background-size: 22px 46%;
      letter-spacing: 2px;
      padding: 15px 20px 15px 60px;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: $studio-hover-color;
      }
    }

    .choose-file-section {
      display: block;
      input[type='file'] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        & + label {
          background: none;
          border: 0;
          border-bottom: 1px solid #aeb6b9;
          width: 100%;
          padding: 5px 0;
        }
      }
      span.browse-title {
        vertical-align: -webkit-baseline-middle;
        color: #657682;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include semiBoldFont
      }
      span.browse-btn {
        background: $studio-light-gray-color;
        border: 1px solid #caced1;
        color: $studio-light-black-color;
        padding: 5px 15px;
        @include semiBoldFont
      }
      p.browse-caption {
        letter-spacing: 2px;
        font-size: 14px;
      }
    }

  }
}


@media (max-width: 48rem) {
  .form-section {
    .input-form {
      .form-group input {
        width: 100%
      }
    }
  }
}

.dev_freak_section {
    position: relative;
    .freak_text_wrap {
      @include displayFlexCenter;
    }
    .freak_text {
        display: inline-block;
        margin: 0px auto;
        h3, h2 {
          @include boldFont;
          color: rgba(41, 48, 53, 0.75);
          font-size: 50px;
          letter-spacing: 10px;
          margin: 0px;
        }
        h2 {
          font-size: 130px;
          font-weight: 900;
          line-height: 100px;
        }
        h3 {
          margin-left: 5px;
        }
    }
    .background-image-section {
        @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/mobile-dev/freak_section.jpg', 100% 100%);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        opacity: 1;
    }
    .image_section {
      position: relative;
      top: 30px;
      z-index: 1;
      .full-image {
        position: relative;
        top: 99px;
        z-index: 0;
        /*display: none;*/
      }
      .thumb_image_wrap {
          text-align: center;
          top: 50px;
          margin: 0px 25px;
          position: relative;
          z-index: 1;
          display: none;
          h3 {
            @include lightFont;
            font-size: 20px;
            margin: 0px;
            position: relative;
          }
      }
      .team-image-slider {
          margin-top: -100px;
          .bdr-section {
            height: 40px;
            width: 100%;
            display: block;
            background: #fff;
            border-top: 4px solid  $studio-orange-color;
            position: relative;
          }
      }
      .team-image-slide-item {
          height: 400px;
          outline: none;
          .flex-el {
            height: calc(100% - 40px);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            @include browserCssFlex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -webkit-align-items: flex-end;
          }
          /*&.slick-current {*/
          /*    .thumb_image_wrap {*/
          /*        display: none;*/
          /*    }*/
          /*    .full-image{*/
          /*        display: block;*/
          /*    }*/
          /*}*/
      }
    }
    .name_section {
        background: #fff;
        position: relative;
        box-shadow: 0px 5px 20px rgba(41, 48, 53, 0.05);
        padding: 30px 40px 40px;
        border-top: 4px solid  $studio-orange-color;
        .team-name-slider {
          padding-top: 0px;
          text-align: center;
          margin: 0px auto;
          max-width: 400px;
          color: $studio-dark-black-color;
          span.divide {
              display: inline-block;
              width: 20px;
              margin: 15px;
              border-bottom: 1px solid #ccc;
          }
          h3 {
            @include lightFont;
            font-size: 20px;
            margin: 0px;
          }
          .f-brush {
              color: $studio-sky-blue-color;
              font-size: 26px;
              margin: 0px;
          }
        }
    }
}

.naked-facts {
  margin-bottom: 130px;
  margin-top: 108px;
  .naked-facts-wrap {
    width: 800px;
    margin: 0px auto;
    position: relative;
    top: 0px;
    text-align: center;
    color: $studio-dark-black-color;
    @include regularFont;
    h2 {
      letter-spacing: 1px;
      @include crimsonTextFont;
      color: $studio-light-black-color;
      font-size: 24px;
    }
    p {
      margin: 0 auto 10px;
      letter-spacing: 1px;
      max-width: 520px;
    }
  }
  .img-overlay-wrap, .img-overlay{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    @include circle(302px);
    position: relative;
  }
  .img-overlay, .img-overlay1, .img-overlay2 {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 220, 240, 0.3);
  }
  .img-overlay {
      left: 0px;
  }
  .img-overlay1 {
    @include circle(105px);
    top: 10px;
    left: -40px;
  }
  .img-overlay2 {
    @include circle(140px);
    bottom: -10px;
    right: -60px;
  }
  .overlapped-facts {
    z-index: 1;
    @include fullViewAbs;
    .overlapped-facts-panel {
      @include widthHeight(100%, 90%);
      @include displayFlexCenter;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
    }
    .btn-refresh-icon {
      position: absolute;
      left: 52%;
      bottom: -60px;
      margin-left: -90px;
    }
    i svg {
      @include widthHeight(59px, 41px);
      .quote-fill-color {
        fill: #ffffff;
      }
    }
    .btn-refresh-icon {
      p {
        font-size: 18px;
        color: $studio-light-black-color;
      }
      svg {
        @include widthHeight(54px, 54px);
        box-shadow: 0 10px 40px rgba(204, 203, 203, 0.6);
        border-radius: 100%;
      }
    }
  }
}

.our-thoughts-video-section {
  position: relative;
  height: 480px;
  overflow: hidden;
  @include backgroundCoverImage('//s3.amazonaws.com/website-2017/images/web-dev/thoughts.png');
  &:hover {
    .our-thoughts-video {
      h2, p {
        color: #fff;
      }
    }
  }
  .our-thoughts-video {
    @include displayFlexCenter;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    h2, p {
      @include extraBoldFont;
      text-align: center;
      color: $studio-orange-color;
      font-size: 48px;
      letter-spacing: 15px;
      margin-top: 40px;
    }
    p {
      font-size: 48px;
      margin-top: 10px;
    }
  }
  .btn_watch_video {
    position: absolute;
    top: 44%;
    left: 47.5%;
    cursor: pointer;
    background: transparent;
    border-radius: 100%;
    box-shadow: 0 10px 40px rgba(14, 14, 14, 0.6);
    width: 76px;
    height: 76px;
    padding: 0;
    margin: 0;
    z-index: 1;
    svg .brand-white-fill-color:last-child {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}
@media screen and (min-width: $device-iphone-xs) and (max-width: $device-sm) {
  .main-page-top-section  {
    .main-page-mid-section-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-justify-content: center;
    }
    .mid-bg-section {
      width: 80%;
    }
  }
}
@media screen and (min-width: $device-iphone-xs) and (max-width: $device-xs) {
  .thumbnail-wrap {
    padding: 0 20px;
  }
  .contact-section {
    .contact-heading {
      max-width: 100%;
      width: 100%;
    }
  }
  .our-section .our-section-wrap {
    .slides-items p {
      font-size: 16px;
    }
  }
  .header-wrap {
    h1 {
      letter-spacing: 4px;
      line-height: 50px;
    }
  }
  .main-page-top-section  {
    .mid-bg-section {
      width: 80%;
      text-align: center;
      margin: 50px 0;
    }
    .main-page-mid-section-wrap p {
      font-size: 14px;
      display: inline-block;
    }
    .mid-bg-section p {
      font-size: 60px;
      &:first-child {
        margin-bottom: 6px;
      }
    }
    .main-page-top-wrap a {
      font-size: 12px;
    }
  }
  .what-we-do-circle-wrap .what-we-do-wrap {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .naked-facts .naked-facts-wrap {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .dev_freak_section .freak_text {
    h2 {
      font-size: 62px;
      padding-left: 10px;
      line-height: 54px;
    }
    h3 {
      font-size: 32px;
      padding-left: 6px;
    }
  }
}

@media (max-width: $device-xs) {
  .how-we-do-it-section {
    .how-we-do-slides {
      .slick-next-icon {
        right: 30px;
        top: 80px;
      }
    }
    .carousel-title {
      font-size: 36px;
      letter-spacing: 5px;
      margin-left: 5px;
    }
    .dark-translucent-background {
      padding: 100px 10px 100px 30px;
    }
  }
  .naked-facts {
    margin-bottom: 90px;
    margin-top: 50px;
    .container {
      padding: 0px 10px;
      .naked-facts-wrap {
        width: 100%;
      }
      .img {
        width: 250px;
        height: 250px;
      }
      .img-overlay1 {
        width: 90px;
        height: 90px;
        left: -8px;
      }
      .img-overlay2 {
        width: 100px;
        height: 100px;
        right: 3px;
      }
    }
    .img-overlay-wrap, .img-overlay  {
      width: 240px;
      height: 240px;
    }
  }
  .custom_slick {
    .slick-prev-icon {
      left: -50px;
    }
    .slick-next-icon {
      right: -50px;
    }
  }
  .blog-section .blog-section-content {
    .blog-info h3 {
      margin-top: 0;
    }
  }
  .contact-section {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: $device-xs) and (max-width: $device-sm) {
  .main-page-top-section  {
    .mid-bg-section p {
      font-size: 52px;
    }
  }
  .naked-facts .naked-facts-wrap h2 {
    font-size: 24px;
  }
  .dev_freak_section {
    .freak_text {
      width: auto;
      h3 {
        font-size: 40px;
        padding-left: 6px;
      }
      h2 {
        font-size: 62px;
        padding-left:10px;
      }
    }
  }
}

@media (max-width: $device-sm) {
  .what-we-do-circle-wrap .what-we-do-wrap:hover {
    .img-overlay-wrap + div {
      background-position: 50% 0%;
    }
  }
  .what-we-do-circle-wrap {
    .what-we-do-wrap {
      height: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      &.second {
        margin-top: 50px;
      }
      &.third {
        margin-top: 50px;
      }
      p {
        width: 100%;
        font-size: 20px;
      }
      .icon-right-wrap {
        visibility: visible;
      }
    }
    .img-overlay-wrap {
      margin: 0px;
    }
  }
  .how-we-do-it-section .carousel-title {
    padding-top: 20px;
    font-size: 28px;
  }
}

@media screen and (min-width: $device-xs) and (max-width: $device-md) {
  .naked-facts {
    .naked-facts-wrap {
      width: 100%;
    }
  }
  .how-we-do-it-section .carousel-title {
    margin-left: 10px;
    font-size: 72px;
  }
}

@media (min-width: $device-md) and (max-width: $device-lg) {
  .how-we-do-it-section {
    .dark-translucent-background {
      padding: 120px 10px 170px 30px;
    }
    .article-summary {
      padding: 20px 40px;
    }
  }
}

@mixin circle_mixin($outer, $inner){
  .outer_circle {
    @include widthHeight($outer+px, $outer+px);
    .inner_circle{
      @include widthHeight($inner+px, $inner+px);
      @include marginTopLeft(-$inner/2+px, -$inner/2+px);
    }
  }
}

.circle-wrap {
  background: rgba(41, 48, 53, 0.5);
  @include widthHeight;
  @include displayFlexCenter;
  .outer_circle {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: relative;
    .inner_circle {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      @include posAbs(50%, 50%);
    }
  }
  @include circle_mixin(1020, 300);
  @media (min-width: $device-iphone-xs) {
    @include circle_mixin(300, 100);
  }
  @media (min-width: $device-xs) {
    @include circle_mixin(300, 150);
  }
  @media (min-width: $device-sm) {
    @include circle_mixin(520, 200);
  }
  @media (min-width: $device-md) {
    @include circle_mixin(760, 250);
  }
  @media (min-width: $device-lg) {
    @include circle_mixin(960, 300);
  }
}

@media (max-width: $device-sm) {
  .blog-section {
    width: 100%;
    .blog-section-content {
      padding: 0 0 50px;
      &.image_not_present {
        width: 100%;
        padding: 0 0 50px;
        &:last-child {
          padding: 0;
        }
      }
      .blog-info {
        padding: 0px 20px;
        p {
          font-size: 20px;
        }
      }
      svg {
        visibility: visible;
      }
      &:last-child {
        padding: 0;
      }
    }
  }
}

@media (min-width: $device-sm) and (max-width: $device-md) {
  .blog-section {
    width: 100%;
    .blog-section-content {
      &.even {
        .blog-img-wrap {
          margin-right: 10px;
        }
      }
      > .blog-wrap {
        padding: 0px 20px;
      }
      .blog-info {
        padding: 0px 15px;
      }
      svg {
        visibility: visible;
      }
    }
  }
}

@media (min-width: $device-xs) and (max-width: 1200px) {
  .how-we-do-it-section .carousel-title {
    font-size: 72px;
  }
}


.slick-dots {
  display: none;
  li {
      margin: 0 5px;
      width: auto;
      height: auto;
      &.slick-active {
        button {
          &:before {
              background: #fff;
              opacity: 1;
          }
        }
      }
      button {
          padding: 0px;
          @include widthHeight(25px, 5px);
          &:before {
            content: '-';
            @include widthHeight(25px, 4px);
            opacity: 0.4;
            background: #999999;
          }
      }
  }
}


.modal_overlay {
  display: none;
}

.modal_content {
  position: fixed;
  z-index: 9999;
  top: 10%;
  opacity: 0;
  width: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 650px;
  padding: 15px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  border-radius: 2px;
  background: #fff;
  margin-top: 30px;
  &.modal_open {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  iframe {
      width: 100%;
      height: 300px;
  }
}
.modal_overlay {
  display: none;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1ms opacity ease;
  transition: 1ms opacity ease;
  background: rgba(0, 0, 0, .6);
}
.modal_opened {
  .modal_overlay {
    display: block;
    opacity: 1;
  }

}
.modal_head {
  margin-bottom: 10px;
  a {
    text-decoration: none;
    font-size: 1.3rem;
    color: gray;
    cursor: pointer;
    text-shadow: 0px 0px 1px gray;
    padding-left: 10px;
    font-family: verdana;
    outline: none;
    &:hover {
      color: $studio-dark-black-color;
    }
  }
}

.our-clients-section {
  .our-clients-section-wrap {
    width: 800px;
    margin: 0px auto;
  }
  .client-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include browserCssFlex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-items: center;
    > span {
      width: 25%;
      text-align: center;
      padding-top: 60px;
      img {
        width: 100px;
        &.kabbage_logo, &.teliax_logo, &.empire_cls_logo, &.fankave_logo{
          width: 160px;
        }
        &.vertical_fox_logo {
          width: 210px;
        }
        &.mahmee_logo, &.schloop_logo {
          width: 130px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .our-clients-section {
    .our-clients-section-wrap {
      width: 100%;
    }
    .client-list {
      > span {
        width: 100%;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 992px) {
  .our-clients-section {
    .our-clients-section-wrap {
      width: 100%;
    }
    .client-list {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-justify-content: center;
      > span {
        width: 35%;
      }
    }
  }
}

.anchor_hover {
  color: $studio-dark-black-color;
  text-decoration: none;
  &:before {
    content: url('//s3.amazonaws.com/website-2017/images/svg/red-brush.svg');
    position: absolute;
    bottom: 0px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
  }
}

.nav-tabs.submenus {
  padding-bottom: 20px;
  border: none;
  li {
    display: inline-block;
    margin-right: 30px;
    a {
      @include mediumFont;
      background-color: transparent !important;
      border: none !important;
      font-size: 16px;
      letter-spacing: 4px;
      color: gray;
      position: relative;
      >span {
        position: relative;
        z-index: 1;
      }
      &:hover, &.active {
        @extend .anchor_hover;
      }
    }
    &.active {
      a {
        @extend .anchor_hover;
        font-weight: 800
      }
    }
  }
}

@media (max-width: 768px) {
  .next-up-section {
    margin-top: 50px;
    .next-up .fs40 {
      text-align: center;
      font-size: 52px;
      line-height: 60px;
    }
  }
}
@media (max-width: 480px) {
  .nav-tabs.submenus {
    li {
      margin: 0px;
      a {
        padding: 15px 5px;
      }
    }
  }
}

/*320-480*/
@media (min-width: $device-iphone-xs) and (max-width: $device-xs) {
    .main-page-top-section  {
      .mid-bg-section {
        margin: 15px 0;
      }
    }

    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .form-section {
      .input-form {
        .form-group {
            width: 100%;
          textarea {
            width: 100%;
          }
        }
      }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 18px;
                width: 96%;
                line-height: 1.25;
            }
        }
        .landing-subtitle{
            p {
                font-size: 16px;
            }
        }
    }

    .main-page-top-section  {
        .main-page-mid-section-wrap{
            .design{
                p{
                    margin-bottom: 0;
                }
            }
            .web{
                margin-bottom: 10px;
                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-section {
      .input-form {
        .form-group {
            width: 100%;
            textarea{
                width: 100%;
            }
        }
      }
    }

}

@media (max-width: 768px) {
    .form-section {
      .input-form {
        .form-group {
            width: 100%;
        }
      }
    }
}

@media  (min-width: 768px) and (max-width: 991px){
    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 20px;
                width: 80%;
                line-height: 1.25;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1150px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 20px;
                width: 70%;
                line-height: 1.25;
            }
        }
    }
}

@media (min-width: 1151px) and (max-width: 1200px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                width: 60%;
                line-height: 1.25;
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                width: 60%;
                line-height: 1.25;
            }
        }
    }
}

@media (min-width: 1300px) {
    .landing-we-are-section{
        .landing-title{
            h3{
                width: 50%;
                line-height: 1.25;
            }
        }
    }
}


@media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3){
    .main-page-top-section  {
      .mid-bg-section {
        width: 80%;
        text-align: center;
        margin: 15px 0;
      }
      .main-page-mid-section-wrap p {
        font-size: 14px;
        display: inline-block;
      }
      .mid-bg-section p {
        font-size: 60px;
        &:first-child {
          margin-bottom: 6px;
        }
      }
      .main-page-top-wrap a {
        font-size: 12px;
      }
    }

    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 18px;
                width: 96%;
                line-height: 1.25;
            }
        }
        .landing-subtitle{
            p {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    .main-page-top-section  {
      .mid-bg-section {
        width: 80%;
        text-align: center;
        margin: 15px 0;
      }
      .main-page-mid-section-wrap p {
        font-size: 14px;
        display: inline-block;
      }
      .mid-bg-section p {
        font-size: 60px;
        &:first-child {
          margin-bottom: 6px;
        }
      }
      .main-page-top-wrap a {
        font-size: 12px;
      }
    }

    .landing-we-are-section{
        .landing-title{
            h3{
                font-size: 18px;
                width: 96%;
                line-height: 1.25;
            }
        }
        .landing-subtitle{
            p {
                font-size: 16px;
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .content-wrap{
        padding-top: 0px;
    }
}
