// Google Fonst Crimson
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,600");

// Importing fonts
@font-face {
  font-family: 'Dry Brush';
  src: url('../../fonts/drybrush/DryBrush.eot');
  src: url('../../fonts/drybrush/DryBrush.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/drybrush/DryBrush.woff2') format('woff2'),
  url('../../fonts/drybrush/DryBrush.woff') format('woff'),
  url('../../fonts/drybrush/DryBrush.ttf') format('truetype'),
  url('../../fonts/drybrush/DryBrush.svg#DryBrush') format('svg');
}


