.flex-box {
  display: flex
}

.flex-inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.flex-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-direction: row-reverse
}

.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse
}

.flex-nowrap {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.flex-wrap {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.flex-wrap-reverse {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.justify-content-flex-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start
}

.justify-content-flex-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end
}

.justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}

.justify-content-space-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify
}

.justify-content-space-around {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center
}

.align-items-flex-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start
}

.align-items-flex-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end
}

.align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center
}

.align-items-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch
}

.align-content-flex-start {
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start
}

.align-content-flex-end {
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-line-pack: end
}

.align-content-center {
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center
}

.align-content-space-between {
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify
}

.align-content-space-around {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  align-content: space-around;
  -ms-flex-line-pack: distribute
}

.align-content-stretch {
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch
}

.order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
  -ms-flex-order: 1
}

.order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  -ms-flex-order: 2
}

.order-3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
  -webkit-order: 3;
  -moz-order: 3;
  order: 3;
  -ms-flex-order: 3
}

.order-4 {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  box-ordinal-group: 4;
  -webkit-order: 4;
  -moz-order: 4;
  order: 4;
  -ms-flex-order: 4
}

.order-5 {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  box-ordinal-group: 5;
  -webkit-order: 5;
  -moz-order: 5;
  order: 5;
  -ms-flex-order: 5
}

.order-6 {
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  box-ordinal-group: 6;
  -webkit-order: 6;
  -moz-order: 6;
  order: 6;
  -ms-flex-order: 6
}

.order-7 {
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  box-ordinal-group: 7;
  -webkit-order: 7;
  -moz-order: 7;
  order: 7;
  -ms-flex-order: 7
}

.order-8 {
  -webkit-box-ordinal-group: 8;
  -moz-box-ordinal-group: 8;
  box-ordinal-group: 8;
  -webkit-order: 8;
  -moz-order: 8;
  order: 8;
  -ms-flex-order: 8
}

.order-9 {
  -webkit-box-ordinal-group: 9;
  -moz-box-ordinal-group: 9;
  box-ordinal-group: 9;
  -webkit-order: 9;
  -moz-order: 9;
  order: 9;
  -ms-flex-order: 9
}

.order-10 {
  -webkit-box-ordinal-group: 10;
  -moz-box-ordinal-group: 10;
  box-ordinal-group: 10;
  -webkit-order: 10;
  -moz-order: 10;
  order: 10;
  -ms-flex-order: 10
}

.flex-grow-0 {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  -ms-flex-positive: 0
}

.flex-grow-1 {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1
}

.flex-grow-2 {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-positive: 2
}

.flex-grow-3 {
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  flex-grow: 3;
  -ms-flex-positive: 3
}

.flex-grow-4 {
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  flex-grow: 4;
  -ms-flex-positive: 4
}

.flex-grow-5 {
  -webkit-flex-grow: 5;
  -moz-flex-grow: 5;
  flex-grow: 5;
  -ms-flex-positive: 5
}

.flex-grow-6 {
  -webkit-flex-grow: 6;
  -moz-flex-grow: 6;
  flex-grow: 6;
  -ms-flex-positive: 6
}

.flex-grow-7 {
  -webkit-flex-grow: 7;
  -moz-flex-grow: 7;
  flex-grow: 7;
  -ms-flex-positive: 7
}

.flex-grow-8 {
  -webkit-flex-grow: 8;
  -moz-flex-grow: 8;
  flex-grow: 8;
  -ms-flex-positive: 8
}

.flex-grow-9 {
  -webkit-flex-grow: 9;
  -moz-flex-grow: 9;
  flex-grow: 9;
  -ms-flex-positive: 9
}

.flex-grow-10 {
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
  -ms-flex-positive: 10
}

.flex-shrink-0 {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0
}

.flex-shrink-1 {
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  flex-shrink: 1;
  -ms-flex-negative: 1
}

.flex-shrink-2 {
  -webkit-flex-shrink: 2;
  -moz-flex-shrink: 2;
  flex-shrink: 2;
  -ms-flex-negative: 2
}

.flex-shrink-3 {
  -webkit-flex-shrink: 3;
  -moz-flex-shrink: 3;
  flex-shrink: 3;
  -ms-flex-negative: 3
}

.flex-shrink-4 {
  -webkit-flex-shrink: 4;
  -moz-flex-shrink: 4;
  flex-shrink: 4;
  -ms-flex-negative: 4
}

.flex-shrink-5 {
  -webkit-flex-shrink: 5;
  -moz-flex-shrink: 5;
  flex-shrink: 5;
  -ms-flex-negative: 5
}

.flex-shrink-6 {
  -webkit-flex-shrink: 6;
  -moz-flex-shrink: 6;
  flex-shrink: 6;
  -ms-flex-negative: 6
}

.flex-shrink-7 {
  -webkit-flex-shrink: 7;
  -moz-flex-shrink: 7;
  flex-shrink: 7;
  -ms-flex-negative: 7
}

.flex-shrink-8 {
  -webkit-flex-shrink: 8;
  -moz-flex-shrink: 8;
  flex-shrink: 8;
  -ms-flex-negative: 8
}

.flex-shrink-9 {
  -webkit-flex-shrink: 9;
  -moz-flex-shrink: 9;
  flex-shrink: 9;
  -ms-flex-negative: 9
}

.flex-shrink-10 {
  -webkit-flex-shrink: 10;
  -moz-flex-shrink: 10;
  flex-shrink: 10;
  -ms-flex-negative: 10
}

.flex-0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 0;
  min-height: 0
}

.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0
}

.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width: 0;
  min-height: 0
}

.flex-3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-width: 0;
  min-height: 0
}

.flex-4 {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  box-flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4;
  min-width: 0;
  min-height: 0
}

.flex-5 {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  box-flex: 5;
  -webkit-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
  min-width: 0;
  min-height: 0
}

.flex-6 {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  box-flex: 6;
  -webkit-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6;
  min-width: 0;
  min-height: 0
}

.flex-7 {
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  box-flex: 7;
  -webkit-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  flex: 7;
  min-width: 0;
  min-height: 0
}

.flex-8 {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  box-flex: 8;
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
  min-width: 0;
  min-height: 0
}

.flex-9 {
  -webkit-box-flex: 9;
  -moz-box-flex: 9;
  box-flex: 9;
  -webkit-flex: 9;
  -moz-flex: 9;
  -ms-flex: 9;
  flex: 9;
  min-width: 0;
  min-height: 0
}

.flex-10 {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  box-flex: 10;
  -webkit-flex: 10;
  -moz-flex: 10;
  -ms-flex: 10;
  flex: 10;
  min-width: 0;
  min-height: 0
}

.align-self-auto {
  -webkit-align-self: auto;
  -moz-align-self: auto;
  align-self: auto;
  -ms-flex-item-align: auto
}

.align-self-flex-start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start
}

.align-self-flex-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end
}

.align-self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center
}

.align-self-baseline {
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  align-self: baseline;
  -ms-flex-item-align: baseline
}

.align-self-stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch
}


.flex-basis-20 {
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-basis-25 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
.flex-basis-40 {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}
.flex-basis-50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.flex-basis-60 {
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
}
.flex-basis-75 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
}
.first-col {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-col {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
